[2017-07-25 05:47] nasica88 commented on #81
It's great to hear that.  Looking forward to seeing your update soon.  Thanks.

[2017-07-25 07:08] znmeb commented on #77
I'm back to this (getting OpenCL to work on Linux for the AMD Bonaire) for another day or so. I'm still on Arch Linux. The context this time is that I've ordered one of the Movidius (now Intell) $79US "deep learning" computer vision USB sticks. It runs "caffe" and the training needs a GPU for reasonable training times.

As far as I can tell the only requirement for an OpenCL port of caffe on an AM

[2017-07-25 15:12] cdeterman commented on #81
@nasica88 I have been informed that it is now globally installed.  You should now be able to load the package when you open an R session.  A quick point, be sure to note which context you are using because the default with the `pocl` implementation is using the CPU.

[2017-07-26 07:35] nasica88 commented on #81
@cdeterman Can you describe the prerequisites for the installation more in detail, pls ?   I tested just now on Ubuntu 16.04 LTS ppc64le, but it seems it fails in the same location.

$ R

R version 3.3.2 (2016-10-31) -- "Sincere Pumpkin Patch"
Copyright (C) 2016 The R Foundation for Statistical Computing
Platform: powerpc64le-unknown-linux-gnu (64-bit)

Installing package into ‘/usr/local/lib/R/si

[2017-07-26 13:12] cdeterman commented on #81
I was told by the staff that the user needs to simply load the R module (`module load R`) and then the package should be available and installed correctly.

[2017-07-27 09:04] nasica88 commented on #81
@cdeterman Perhaps it's just me, but it might be there is some misunderstanding.  As far as I understand,  'module load R' simply provides for the dynamic modification of the user's environment, which has to be defined by the user.  It does not do anything fundamental or incorporates pocl into R by itself.
I'd be much obliged if you can communicate with the IBM staff on the detailed procedure on h

[2017-07-29 08:39] znmeb commented on #77
I finally have `gpuR` working on the AMD "Bonaire" GPU. It turns out that you need to have the AMD proprietary libraries installed; the open source ones are riddled with bugs and there's not much (if any) effort going towards fixing OpenCL there.

The proprietary libraries are only supported on Ubuntu 16.04 LTS and RHEL/CentOS 7. There are workarounds posted [here](https://github.com/BVLC/caffe/is

[2017-08-03 19:26] ironv commented on #81
I too would like to use gpuR on a IBM Minsky box;  I am getting the exact same errors that @nasica88 has been reporting.  Note sure how to use the `module load R` approach suggested by @cdeterman.  Thx.

[2017-08-07 20:24] cdeterman commented on #61
The first incarnation of this is now available in the `develop` branch.  Please see the vignette I have added [here](https://github.com/cdeterman/gpuR/blob/develop/inst/doc/custom_ocl_gpuR.pdf) for a basic instruction.  Any additional users testing this functionality would be appreciated.

[2017-08-15 00:28] clarkfitzg commented on #61
I tried the hello world on Mac OSX and am seeing this error:

[code]

Same code works fine when I install from master branch.

[2017-08-15 02:20] znmeb commented on #77
You can close this - you might want to put a note in the documentation that AMD GPUs on Linux require the AMD proprietary OpenCL libraries - the open source ones don't work.

[2017-08-15 15:12] cdeterman commented on #61
@clarkfitzg is this just with the `develop` branch or is it related tot he `custom_opencl` function?

[2017-08-15 15:25] clarkfitzg commented on #61
It appears to be unrelated to `custom_opencl`, as it happens before.

[2017-08-16 14:40] cdeterman opened #90 "OSX failing with develop branch"
User installed the `develop` branch and saw the resulting error on a OSX machine.

[code]

[2017-08-16 14:41] cdeterman commented on #61
@clarkfitzg I will open a separate issue then #90.

[2017-08-18 20:56] cdeterman commented on #90
@clarkfitzg I believe the `vclVector` problem is fixed but I appear to have other unit test errors I need to resolve.

[2017-08-20 05:57] scottkosty commented on #77
@znmeb just wanted to say thanks for all of your research on this topic. I'm just following for now, but I have an AMD (FirePro W4100) and eventually want to look into a mesa solution. Hopefully in the future things get patched up. Thanks again for posting all of your findings!

[2017-08-21 16:31] clarkfitzg commented on #90
Yes, `vclVector` works now.

[2017-08-21 16:32] clarkfitzg commented on #61
Working fine on Mac OSX now. Nice work!

[2017-08-21 17:00] cdeterman commented on #61
@clarkfitzg are you just referring to the `vclVector` bug or the `custom_opencl` in this comment?

[2017-08-21 17:42] clarkfitzg commented on #61
Everything works so that I can run the `saxpy` example in the vignette.

[2017-08-21 17:45] cdeterman commented on #61
@clarkfitzg Excellent, thank you

[2017-08-23 18:03] cdeterman opened #91 "Device and Platform Information needs Context index"
Given that `gpuR` initializes all devices, each with their own context that means all devices should have an index of 0 (from the C++ end).  As such, accessing them will require passing the context index too.  This is an oversight on my part.

[2017-08-23 18:13] dselivanov opened #92 "Make matrices/ vectors `float` by default?"
I would like to start discussion about default precision of GPU matrices and vectors. At the moment they are `double`. My proposal is to make `float` as default choice. Rational is following:

1. Most mass-market cards support only `float`. So creating vectors throws error.
1. Even if they support `double`, performance suffers a lot - 10x+ .For example [wiki about 10* GTX series](https://en.wikipe

[2017-08-23 18:24] cdeterman commented on #92
I personally don't have an issue with this.  Hopefully a few others will chime in with opinions.

[2017-08-28 16:38] lucavignali opened #93 "gpuR with Windows 7 with Intel HD Graphics 5500 and AMD Radeon R7 M260X"
I tried to use the gpuR library on my PC from RStudio. The following code works but I can see that CPU only is used. From TechPowerUp GPU I can see both GPUs unused. To my understanding only the AMD is OpenCL compatible, is there a gpuR configuration to force the usage of the AMD Radeon?
Thanks,

[code]

[2017-08-28 16:47] cdeterman commented on #93
@lucavignali can you provide the output of `listContexts()`.  Also, what version of `gpuR` are you using `sessionInfo()`?  Can you also comfirm, do you have two GPUs in addition to  the CPU?

[2017-08-28 17:13] cdeterman commented on #78
@znmeb I wanted to update this issue to confirm that I am able to reproduce the problem.  When I have tried to switch over to using pocl for you Travis CI unit testing I noticed that the tests were failing.  This appears to be a `pocl` platform issue as it works locally on my machine with is using the Intel OpenCL platform.  I have opened an issue with the `pocl` developers and hopefully will hear

[2017-08-29 09:25] lucavignali commented on #93
Here you can find the output of listContent() and gpuR version from sessionInfo. I confirm that I have two video adapters: AMD Radeon R7 M260X and Intel HD Graphics 5500 that are both graphical processing units. However, according to listContext(), the detectGPUs command return 1.

**> listContexts()**
  context                                                  platform platform_index

[2017-08-29 15:39] cdeterman commented on #93
@lucavignali yes, this I believe is a bug in the current CRAN version.  Please try installing my `develop` version with `devtools::install_github('cdeterman/gpuR', ref = 'develop')`.  I am working hard to get the necessary updates done so I can finally release the newest version.

[2017-08-30 08:43] lucavignali commented on #93
Hi, let me share the updated infos below. However I can't see any usage of the GPU through the TechPowerUp GPU tool. Is there any way to force gpuR to utilize the device labelled as "context 2"?

**> listContexts()**
context                                                  platform platform_index                                   device device_index device_type
1       1                         In

[2017-08-30 10:00] nevenus opened #94 "Ubuntu 16.04 installation problem"
**R version 3.4.0 (2017-04-21) -- "You Stupid Darkness"
Copyright (C) 2017 The R Foundation for Statistical Computing
Platform: x86_64-pc-linux-gnu (64-bit)**
**This problem arises**
##################################################################
devtools::install_github("cdeterman/gpuR")
Downloading GitHub repo cdeterman/gpuR@master
from URL https://api.github.com/repos/cdeterman/gpuR/zipball/

[2017-08-30 16:19] cdeterman commented on #94
@nevenus can you confirm `g++` is installed on your machine?  At the terminal try `g++ --version`

[2017-08-31 06:25] nevenus commented on #94
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609
g++ (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609
This is version I have...

[2017-08-31 13:25] cdeterman commented on #94
@nevenus I'm not sure exactly about a fix then as this is an R/system issue and not an issue with `gpuR`.  I have seen this issue mentioned before for R 3.4.0 [here](http://r.789695.n4.nabble.com/R-3-4-has-broken-C-11-support-td4732692.html) but the fix isn't entirely clear to me.

You may need to send a message to R-help or R-devel mailing list for help - r-help@r-project.org or r-devel@r-project

[2017-08-31 14:57] cdeterman commented on #93
@lucavignali yes, with the `develop` version you can set the context with the function `setContext`.  In your case, you would simply call

[code]

You can verify which device is currently active with

[code]

[2017-08-31 15:23] cdeterman commented on #62
@venelin sorry for the silence on this issue but I will need to push it to the next release.  There are so many changes already implemented that most people are being directed to using the `develop` branch here instead of CRAN.  I hope to get to this issue in the near future.

[2017-08-31 15:25] #46 closed

[2017-08-31 17:05] cdeterman commented on #90
@clarkfitzg can you confirm in the `svd` function works for you from `develop`?

[2017-08-31 18:10] venelin commented on #62
@charles thanks for the news! No time pressure from my side.

2017-08-31 17:23 GMT+02:00 Charles Determan <notifications@github.com>:

--
Venelin MITOV

[2017-08-31 19:11] clarkfitzg commented on #90
Doesn't look like it.

[code]

I'm on this commit in `develop`:

[code]

[2017-08-31 19:14] cdeterman commented on #90
@clarkfitzg thank you, that confirms what I have been seeing.  If you have a moment, could you try to re-install the current release of `gpuR` from CRAN and try `svd` again?  I want to know if it was always broken or not.

[2017-08-31 20:44] clarkfitzg commented on #90
Just tested, the CRAN version works:

[code]

[2017-09-01 13:15] cdeterman commented on #90
@clarkfitzg thank you very much.  One last thing, can you see if the same device is used in the `develop` version?  I apologize for the back and forth but I don't have a Mac available to test these things.  Basically I want to see if the `.device` field is still `"Iris pro"`.  I suspect the problem is that with the `develop` version I now have it explicitly instantiating all possible devices and I

[2017-09-01 13:17] cdeterman commented on #81
To all those interested, I have recently heard from IBM they will be publishing how to setup the servers to allow the use of `gpuR`.  They haven't committed to a timeline but as soon as they provide this documentation I will be sure to link to it here.

[2017-09-01 16:28] clarkfitzg commented on #90
Looks like you're spot on. On the `develop` version:

[code]

[2017-09-06 13:47] cdeterman commented on #93
@lucavignali can you confirm if my previous comment addressed the issue?

[2017-09-06 14:03] lucavignali commented on #93
Yes absolutely for me you can close the issue. I thought I wrote it in my previous comment. I apologize.

Inviato da iPhone

[2017-09-06 14:15] cdeterman commented on #93
@lucavignali thanks, please feel free to submit any future issues.

[2017-09-06 14:15] #93 closed

[2017-09-06 14:18] cdeterman commented on #90
@clarkfitzg I'm not sure about the timeline for the fix on the CPU implementation.  Could you install the `develop` version once more and change the context with `setContext(2L)`?  Then try the `svd` call once more.  I want to confirm that it will still work with the new version.

[2017-09-08 15:42] clarkfitzg commented on #90
Sure, I'll try to circle back to this on Monday.

[2017-09-11 16:31] clarkfitzg commented on #90
This works on latest commit on `dev`:

[code]

[2017-09-11 19:09] dselivanov commented on #85
I can check this with AMD card - will report soon.

[2017-09-12 06:34] dselivanov commented on #85
[code]
[code]

[2017-09-12 15:48] cdeterman commented on #85
@dselivanov thank you for the AMD benchmarks.  It does appear that it must be a sub-optimized NVIDIA implementation that you saw before.

[2017-09-18 20:14] cdeterman commented on #68
As debugging `Rcgmin` is outside the context of `gpuR` I am choosing to close this issue.  It is more appropriate to contact the `Rcgmin` maintainers to develop additional functionality.

[2017-09-18 20:14] #68 closed

[2017-09-20 18:33] beibeijiang commented on #92
I prefer `double` as default.

[2017-09-20 19:00] beibeijiang opened #95 "cov() supports only one matrix"
Hi Charles,

Does cov() only support `cov(gpuA)` ? No `cov(gpuA, gpuB)`?

I see the description for this function as follows:
`cov(x, y = NULL, use = NULL, method = "pearson")`

`x`  A gpuR object
`y`  Not used
`use`  Not used
`method`  Character string indicating with covariance to be computed.

[2017-09-20 19:03] dselivanov commented on #92
Why? Double 10x+ slower than float and occupy 2x more ram. Please clarify a
bit.

20 сент. 2017 г. 22:33 пользователь "Beibei" <notifications@github.com>
написал:

[2017-09-20 19:19] beibeijiang commented on #92
Double is slower but it is precise. When the standard R object converted to a gpuR object, as a gpuR user, I hope the package I use would keep my data type by default and would not let me lose anything. :)
Maybe I never have RAM problem with my GPUs, so 2x more RAM is not a problem for me.

[2017-09-20 19:27] dselivanov commented on #92
Ok, but why use gpu if it will be on par with cpu for double? IMO precision
issues with float are highly overestimated and occur rarely in practice.

20 сент. 2017 г. 23:19 пользователь "Beibei" <notifications@github.com>
написал:

[2017-09-20 19:58] beibeijiang commented on #92
I tested the performance 2 years ago. My small calculation with `gputools` on one graphics card (Tian black) needs the same time( almost 24 hours) as I run on 96 cores (Intel(R) Xeon, currently, cant' check the detail).  Then my single project has thousand times more calculation. It is better for me to use GPUs.

About the precision, my understanding is if my data is highly discrete (with extremel

[2017-09-20 20:08] cdeterman commented on #92
@beibeijiang I think your point reinforces that perhaps `float` would be a better default.  Your situation is rather unique with so many iterative calculations.  In your case, it would simply require adding the line `options(gpuR.default.type="double")` and nothing else would change.

[2017-09-20 20:09] dselivanov commented on #92
This is because of Titan black - it offers very good double precision flops 1/3 of float. For example gtx 980 which much more mass market has double precision performance = 1/32 float!
Regarding your case with highly contrast values I agree - there will be issue. But still this case is not common. And good default values are always trade-off between having good general performance and number of ex

[2017-09-20 22:29] beibeijiang commented on #92
@cdeterman How could I make you feel so? I am really bad at giving examples. :-0

As a user, I prefer the default is no change of the data type from standard R object to gpuR object. Unless R offers float type. People who can only program with R may confuse if they have GPU supporting double precision? Maybe I could discuss with my colleagues what they think since I recommended gpuR to them.

By t

[2017-09-22 08:28] beibeijiang commented on #95
My answer to my question: no, it doesn't supprot two objects.

[2017-09-22 13:17] cdeterman commented on #95
@beibeijiang yes, you are correct that it is not yet supported.  If I come across some concise, vectorized, matrix notation to accomplish it then I will.  I simply haven't dedicated my time towards this particular aspect as it was not previously a hot topic for users.

[2017-09-22 13:28] beibeijiang commented on #95
I also didn't realize it until I have to rewrite one old R package based on `gputools`.  Anyway, I am glad that you know the request now and looking forward to having it in the feature. Great thanks to all your work on helping us use GPU easily.

[2017-09-22 14:09] cdeterman commented on #95
@beibeijiang I think I can get an implementation working but it likely won't be as performant as it could be.  My intention is write the full OpenCL kernels for the correlation/covariance calculations but I really want to get 2.0.0 released so I will need to push that back until afterwards.  I will push out a quick version of `cov("gpuMatrix", "gpuMatrix")` and `cov("vclMatrix","vclMatrix")` prior

[2017-09-22 15:02] cdeterman commented on #92
@beibeijiang would be happy to hear additional perspectives from your colleagues.  The reason your example makes me think `float` may actually be a better default is because you are conducting so many iterations.  I would not expect this type of experiment to be typical of most users.

Additionally, my main point before was to also reinforce that regardless of the default, it is quite trivial to c

[2017-09-25 08:26] beibeijiang commented on #95
Thanks a lot! You are great!

[2017-10-09 14:34] beibeijiang opened #96 "Is t(x)%*%x not equeal to crossprod(x)?"
Hi Charles,

I did something like the following and got weird output. Did I use these wrong?

[code]

[2017-10-09 14:48] cdeterman commented on #96
What version of `gpuR` are you using?  I don't get the difference you show when comparing `temp1` and `temp2`.  The second comparison is basically comparing `float` and `double` precision.  You should expect to see a small difference.

[2017-10-09 14:53] beibeijiang commented on #96
packageVersion("gpuR")
[1] ‘1.2.1’

The second comparison is for myself. Sorry.

[2017-10-09 15:03] cdeterman commented on #96
Try with the current `develop` version `devtools::install_github('cdeterman/gpuR', ref = 'develop')`.  I am nearly ready to release the next version `2.0.0`.

[2017-10-09 17:49] cdeterman commented on #92
@beibeijiang did your colleagues have anything additional to add to this topic?  I think I will end up changing the default to 'float' unless I have a convincing reason otherwise.

[2017-10-09 18:33] beibeijiang commented on #92
I showed them the second comparison in issue #96 and also mentioned your suggestion `options(gpuR.default.type="double")`  to them. They were surprised about the difference (0.013 as shown in issue #96) but they don't mind if you want to change it, as long as you don't remove(or say, give up exporting)  some functions in the previous versions.

[2017-10-09 18:43] cdeterman commented on #92
@beibeijiang  what functions would they be concerned about?  I export all functions for both `float` and `double` precision.

[2017-10-09 18:44] cdeterman commented on #96
@beibeijiang did the `develop` version solve the issue?

[2017-10-09 19:01] beibeijiang commented on #96
Yes, I just tried the developed version and it solves the issue. I think you can close it.

Sorry for getting back late.

[2017-10-09 19:03] #96 closed

[2017-10-09 19:05] beibeijiang commented on #92
I think the comment is not related to `gpuR` . I guess they were talking about some general problems caused by other updated packages.

[2017-10-12 18:56] #47 closed

[2017-10-12 18:56] #79 closed

[2017-10-12 18:56] #86 closed

[2017-10-12 18:56] #91 closed

[2017-10-12 18:56] #41 closed

[2017-10-12 18:56] #60 closed

[2017-10-12 18:56] #95 closed

[2017-10-12 18:57] #61 closed

[2017-10-12 18:58] #50 closed

[2017-10-12 18:59] cdeterman commented on #90
Mac now builds and all tests are passing

[2017-10-12 18:59] #90 closed

[2017-10-19 13:40] cdeterman commented on #92
Well, I neglected to make the change over to `float` during the latest submission to CRAN.  Given that the submission of this package is more of a hassle (it requires manual checking by CRAN members) I will wait until the 2.1.0 release to make this change.  Therefore, I will reopen and retag this issue accordingly.

[2017-10-23 14:00] chrism0dwk opened #97 "Bug in GEMV: result wrong dimension"
I think I've discovered a critical bug in the GEMV implementation in gpuR version 2.0.0.

Example: multiply 3x2 matrix 'x' by a vector of length 2 'y':
[code]
The result 'z' is of length length(y), rather than nrow(x).

If I change the dimensions of the data structures such that 'x' is 3x2 and 'y' is length 3:
[code]
Again, the result is of length(y), not nrow(x).

Cheers,

Chris

System spec
--
R

[2017-10-23 14:45] cdeterman commented on #97
Thank you for reporting. I completely forgot my unit tests for gemv and this is what I get.  I will commit a bug fix shortly.

[2017-10-23 14:46] #97 closed

[2017-10-23 15:05] cdeterman opened #98 "matrix-vector product for gpuMatrix/gpuVector"
I failed to realize I didn't implement this in the 2.0.0 release.

[2017-10-23 15:05] chrism0dwk commented on #97
Many thanks for fixing this so quickly!  A great help to my research :)

Chris

[2017-10-23 15:08] cdeterman commented on #97
No problem, in this case it was an easy fix that you pointed out.  Please let me know if you encounter any other issues.  Glad the package is useful to you.

[2017-10-24 10:49] chrism0dwk opened #99 "t,vclMatrix on non-square matrix incorrect"
Test case:
[code]

[2017-10-24 10:50] chrism0dwk commented on #99
N.B. t(X) on a square matrix does appear to work.

[2017-10-24 13:25] cdeterman commented on #99
@chrism0dwk odd, it is working for me.  I assume you still have 2.0.0 installed or do you have 2.0.1 from github?  Also, could you provide the output of `listContexts()`

[2017-10-24 14:06] chrism0dwk commented on #99
Ah, sorry.  I realised I was on another platform where I was using v. 2.0.0.  I can confirm this bug does not exist in 2.0.1.

Apologies for the time-waste!

C

[2017-10-24 14:58] #99 closed

[2017-10-31 19:30] andreasostling opened #100 "Running out of memory trying to work with matrices"
I am trying to work out the largest size matrices that I can multiply using my current gpu.

After getting a out of memory error I have not come up with any other solution than to restart r to keep working. Is there currently a solution to this?

Is there some easier way than trial and error to figure out how large matrices I can multiply together?

I have tried

chunk1:
[code]
for the code below

[2017-11-01 15:44] cdeterman commented on #100
This is a problem I have encountered before and I'm still not sure how to resolve.  I will need to try and look at it again to see if I can figure out how to clear memory without the need to manually do so.

[2017-11-02 11:22] andreasostling commented on #100
Thanks for the reply!

I was also wondering:
Once the error actually occurs, is there another solution to be able to keep working than to restart R Studio?

Simply calling `gc()` after the error occurred does not solve the problem.

[2017-11-02 14:54] cdeterman commented on #100
Unfortunately not, I have been working on that as well.  When the error is thrown somehow the initialized GPU objects are not cleaned up and become 'leaked' memory.  I thought I had implemented sufficient smart pointers in the backend C++ but apparently still running in to the problem.  I will need to go through the code some more and figure out why the memory ends up leaking.

Regarding your init

[2017-11-02 16:34] andreasostling commented on #100
I don't know if this is helpful at all but I've been doing some more testing.

Running:
[code]
once works fine on my machine, running it twice in a row gives
[code]

[2017-11-14 05:45] dselivanov commented on #89
What is your experience for SVD on gpu? I tried it from latest `gpuR` on square matrices, but it is orders of magnitude slower what on CPU (0.4 sec on CPU vs 8.4 sec on AMD Radeon Pro 560 on my mac). Is it normal?

[2017-11-14 14:52] cdeterman commented on #89
I don't have much experience with it so I couldn't say for sure. But I believe the code on which it is based in ViennaCL is 'experimental'.  You can see the line in the code denoting this [here](https://github.com/viennacl/viennacl-dev/blob/f8fef1c3dc65f5d92e0f10e65406e3399ea5c67d/viennacl/linalg/svd.hpp#L22).  I was hoping to find some more efficient implementations either by writing some myself

[2017-11-24 12:10] mjmg opened #101 "Outdated content on INSTALL file"
The INSTALL file indicates that the gpuR package is for Linux systems only but I think the package builds and works on Windows systems also for some time. ;)

This might turn off potential users in Windows when looking at the CRAN page unless they check the github page and wiki.

https://github.com/cdeterman/gpuR/blob/master/INSTALL

[2017-11-25 13:26] mjmg commented on #89
For my use case, I can consider this issue partially resolved. My usual datasets are matrices with m<<n and I hope to use GPU accelerated SVD for computing PCA.

As pointed out here:
https://stackoverflow.com/questions/26797226/svd-speed-in-cpu-and-gpu?noredirect=1&lq=1
SVD may be difficult to parallelize on the GPU.

For the case where the dataset is non-square (m!=n), a workaround is to always u

[2017-11-27 14:39] cdeterman commented on #101
You are correct, I will make a point to update this.  Thank you.

[2017-12-06 16:50] #88 closed

[2017-12-06 16:52] cdeterman commented on #77
@znmeb I am currently testing the pocl 1.0 release.  Could you confirm if AMD GPUs on Linux work with it?  I intend to close this issue but I want to address your last point here before I make any notes in the documentation.

[2017-12-06 21:18] znmeb commented on #77
@cdeterman POCL and the AMD GPU are two different implementations of the OpenCL standard. I'll test them both with your "develop" branch.

[2017-12-06 22:08] znmeb commented on #77
Test is done - logfile at <https://gist.github.com/znmeb/98aab32fdc596fd5db4700148005d9c5>

Environment: gpuR is from the GitHub develop branch
[code]

[2017-12-07 18:23] f0nzie opened #102 "GEMM operations - benchmark R code"
Hello Charles,
I love `gpuR `. It just installs out of the bat in my Windows 10 with Nvidia Quadro K2100M.

I couldn't find the R code that you used in your article here http://www.parallelr.com/r-gpu-programming-for-all-with-gpur/.

Wouldn't you mind sharing it, please?
Thanks.

[2017-12-07 18:44] cdeterman commented on #102
Thanks for the compliments and I'm glad to here the install is working well for Windows.  Regarding the benchmarks (which I assume you are referring) you can find the code in another one of my repositories [here](https://github.com/cdeterman/gpuRbenchmark).  Keep in mind, the `vclMatrix` calls are asynchronous so they are somewhat misleading as it returns immediately and you can continue on with y

[2017-12-08 17:17] cdeterman commented on #77
AH!  It looks like it is just having issues with my custom methods where check the device type.  I neglected to change the use of the `deviceType`, `gpuInfo`, and `cpuInfo` functions that I updated in version 2.0.0.  Please try again with the `develop` branch.

[2017-12-08 19:48] znmeb commented on #77
Re-run is at <https://gist.github.com/znmeb/7266668ac87768855f633291be30b1de>

[2017-12-11 16:39] cdeterman commented on #77
@znmeb I believe I fixed the last few errors in your output.  Please try once more when convenient.

[2017-12-11 22:46] znmeb commented on #77
Looks like it's working <https://gist.github.com/znmeb/5373763312b095c96a402cbb9eec4d63>. Is there any way you can suppress those compiler messages? They look like notes / warnings, not errors.

[2017-12-12 16:06] cdeterman commented on #77
@znmeb possibly, I will need to look at see what flags I can pass in to suppress them.  It is something I did want to do as the output is definitely annoying.  I will create a new issue for this.  Are you satisfied with me closing this issue then?

[2017-12-12 16:08] cdeterman opened #103 "Suppress Custom OpenCL Compiler Output"
The output from the custom OpenCL compiler is rather verbose and can mislead users to this something went wrong (when it is in fact likely just deprecation warnings).  These should be suppressed if possible.

[2017-12-12 20:53] znmeb commented on #77
Yep - it's passing all the tests.

[2017-12-12 21:02] #77 closed

[2017-12-19 16:39] cdeterman commented on #78
@znmeb the pocl 1.0 release appears to have fixed this problem.  Feel free to test at your leisure from your end.  I will reopen this issue if your report further problems.

[2017-12-19 16:39] #78 closed

[2017-12-19 16:39] #102 closed

[2017-12-20 17:31] f0nzie commented on #102
Thanks.
I tried to build this in Windows 10 but I get this error:
![image](https://user-images.githubusercontent.com/29108853/34220157-34758556-e579-11e7-8c4f-61673d165c52.png)

[2017-12-20 20:17] cdeterman commented on #102
@f0nzie since this is related to gpuRbenchmark it should be reported there.  I have created an issue [here](https://github.com/cdeterman/gpuRbenchmark/issues/1).  I will provide updates there.

[2017-12-28 06:45] Curious9x opened #104 "solving install issue on readon compute platform - 1.7 tested"
Please include following in instructions for users trying 1.7 rocm platform:

`Sys.setenv(OPENCL_LIB="/opt/rocm/opencl/lib/x86_64",OPENCL_INC="/opt/rocm/opencl/include/")`

I struggled, but got it working, finally. I hope it helps.

System details are as:
`-----
sessionInfo()
R version 3.4.3 (2017-11-30)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.3 LTS

Matrix products: def

[2018-01-04 12:43] jpellegrini commented on #10
This is also happening to me when installing with `install.packages("gpuR")` and also with the development branch, which I installed with `devtools::install_github("cdeterman/gpuR", ref = "develop")`.

I'm running Debian GNU/Linux;

[code]

[code]

[code]

[code]

Part of information from `glxinfo`:
[code]

From `Xorg.0.log:`
[code]

[2018-01-04 13:54] VictorPPB opened #105 "Setup local and global size"
¿Is it possible to setup local and global size for the OpenCL workgroups?

[2018-01-04 14:19] cdeterman commented on #104
Thank you for the contribution!  I will be sure to add it to the documentation.

[2018-01-04 14:25] cdeterman commented on #105
Not currently, are you concerned about some potential performance implications or have you run in to some problems?

In theory it would be possible.  Are you interested in a global parameter (would be needed for maintaining current API) or when using custom OpenCL kernels with `custom_opencl`?

[2018-01-04 14:31] VictorPPB opened #106 "chol cannot be called using::"
This issue is directly related to  [#83](https://github.com/cdeterman/gpuR/issues/83).

I want to use `chol` or `chol.vclMatrix` in inside another package. But I get the following:

`gpuR::chol.vclMatrix
Error: 'chol.vclMatrix' is not an exported object from 'namespace:gpuR'`

After listing all the functions inside gpuR with `ls("package:gpuR")`, `chol` is not there. ¿How can I use `chol` from gpu

[2018-01-04 14:35] cdeterman commented on #106
Do you have a repository for this that I could fork to try and reproduce?

[2018-01-04 14:39] VictorPPB commented on #105
Thanks for the quick reply. I haven't had performance problems. But I wanted to vary local and global size to see how performance changes.

[2018-01-04 14:45] VictorPPB commented on #106
We don't have a package repository yet. But the problem is just as described. ¿Is there a way you can help me without the repo?

[2018-01-04 14:57] cdeterman commented on #106
I can try and create my own, it will just take a little more time.  When I have some extra availability I will give it a go and see if I can reproduce the problem.

[2018-01-04 15:05] VictorPPB commented on #106
The repo may not be needed, this example shows the problem:

`mm<- matrix(rnorm(100*100),ncol=100,nrow=100)`
`ch_gpu <- gpuR::svd(mm, nv = 0)`
`ch_gpu1 <- gpuR::chol(mm, nv = 0)`

And I get:

`Error: 'chol' is not an exported object from 'namespace:gpuR'`

[2018-01-04 16:02] cdeterman commented on #106
That is because you are trying to call `chol` on a `base::matrix` object.  The `chol` within `gpuR` is an S3 method so it is actually defined as `chol.gpuMatrix` or `chol.vclMatrix`.  You simply need to create a `gpuMatrix`/`vclMatrix` and call `chol` normally.  The S3 dispatch should find the appropriate method in the `gpuR` namespace.  The following should work.

[code]

[2018-01-04 16:12] VictorPPB commented on #106
You're right about the object passed (sorry about that). But since I need to use chol from `gpuR`, I need something like `gpuR::chol`. It should work as it does with `gpuR::svd`, like this:

`gm <- gpuR::gpuMatrix(matrix(rnorm(16), 4, 4), type = "float");
ch_gpu <- gpuR::chol(gm);
ch_gpu <- gpuR::svd(gm)`

But it doesn't with `gpuR::chol`

[2018-01-04 16:14] cdeterman commented on #106
You misunderstand, `chol` is an S3 method and `svd` I defined as an `s4` method.  As such, the base `svd` method is exported but `chol` is not.  It will automatically call the internal `gpuR::chol` method when `chol` is executed on a `gpuR` object.  Ergo, you do not need to prefix the `gpuR` namespace in that instance.

[2018-01-04 17:09] VictorPPB commented on #106
Thanks! It clear now.

[2018-01-04 17:09] #106 closed

[2018-01-04 17:53] VictorPPB opened #107 "Performance extracting values from pointer using chol"
Hi Charles,

I noticed that extracting values after `chol` reduces time performance when passing a `vclMatrix` or a `gpuMatrix` object. Extracting values makes CPU decomposition faster than gpuR. ¿Is there a way to improve this?

My example is:

[code]

And I got:

[code]

[2018-01-04 17:59] cdeterman commented on #107
Unfortunately there isn't a lot at the moment.  I am aware that the `chol` implementation is rather slow.  This is because such functionality is 'experimental' in the underlying C++ code.  It is implemented simply to have it available and if additional GPU operations need to be applied.  I am intending to create a companion package that links to the `clMagma` library [here](https://github.com/gpuR

[2018-01-04 18:10] VictorPPB commented on #107
My cpu opencl device outperforms my gpu. However it keeps slower than simple cpu.

Anyway, thanks a lot for your time. I hope you can reach a better speedup.

[2018-01-04 20:38] cdeterman commented on #107
Out of curiosity, what GPU do you have?

[2018-01-04 20:44] cdeterman commented on #105
Thinking about this and looking at the code I don't think this would be possible with the implemented operations.  I think they are leveraging ViennaCL's autotuning framework so the work sizes cannot be changed as they are handled internally. @karlrupp do you have anything to say on this matter?

However, with the `custom_opencl` I could look in to allowing this as another parameter for evaluating

[2018-01-04 20:46] VictorPPB commented on #107
There are mi available devices:

[code]

[2018-01-04 20:52] cdeterman commented on #107
So to confirm, when you are doing your benchmarks you are making sure to assign the appropriate context id to make sure the relevant device is actually being used?

For example:

[code]

[2018-01-04 21:02] cdeterman commented on #83
@dstanley4 I am coming back to this issue again and looking at it again it appears that I simply didn't/don't have that specific initialization implemented for `gpuVector`.    Also, the `gpuMatrix` call does work but the elements within it are gibberish.  This is because I haven't handled situations when the number of elements provided in a vector don't match the defined matrix dimensions.  This w

[2018-01-04 21:06] VictorPPB commented on #107
In my example, I used `setContext(i)` for i=1,2,3 to compare times before creating `gm`

[code]

Which I think is the same thing, isn't it?

[2018-01-04 21:09] cdeterman commented on #107
Yes, that is the same for a global assignment instead of individually.  Just wanted to make sure as other users had overlooked that part.

[2018-01-11 06:29] nielsenmarkus11 opened #108 "solve converts gpuMatrix to vclMatrix"
So, in trying to do a simple regression with `gpuR` I've run into a problem... when I test the following code:
[code]
I get the following error for `gpuBeta <- solve(t(gpuX)%*%gpuX)%*%t(gpuX)%*%gpuY`:
[code]
I don't get the error any more when I change the objects to class `vclMatrix`:
[code]
However the VRAM this takes is much higher than doing this with typical RAM. The object `X` takes up appro

[2018-01-12 11:41] rstub opened #109 "Intel OpenCL not recognized"
I have a (Debian stable) system with three OpenCL platforms installed:
[code]
Beignet and POCL have been installed from the Debian repositories. For Intel OpenCL I used the binary installer from Intel. A simple sample program finds all three platforms:

[code]

Output:

[code]

However, `gpuR::detectPlatforms()` finds only two of them:
[code]

I am pretty sure that it is Intel OpenCL that is missi

[2018-01-12 11:55] znmeb commented on #109
You have one GPU (beignet - Intel graphics) and the other two are CPU. You don't need both CPU versions. Since you have beignet I'm guessing your CPU is an Intel one. I suspect the Intel OpenCL is better tuned than Pocl.

[2018-01-12 12:33] rstub commented on #109
The "Intel(R) OpenCL" platform lists two devices in `clinfo`, one of them the GPU:
[code]
I also suspect that the Intel OpenCL is better tuned. But at the moment I cannot use it with `gpuR` since it is not recognized.

[2018-01-12 15:04] cdeterman commented on #109
@karlrupp, any thoughts regarding this?  `detectPlatforms()` uses `viennacl::ocL::get_platforms()` to find available OpenCL platforms.  Perhaps an ICD related issue?

@rstub what is your OS (you just say 'Debian' style).  I can try to spin up a container in docker and try to replicate the problem.

[2018-01-12 15:44] rstub commented on #109
I am using Debian 9.3:
[code]

Concerning base ViennaCL, I have tested this sample program:
[code]
ViennaCL sees all three platforms:
[code]

[2018-01-12 15:59] cdeterman commented on #108
Thanks for reporting your issue.  You have encountered two problems with `gpuR` currently.  To address you first concern regarding `solve` returning `vclMatrix`.  This was an intentional decision on my part to make the function more efficient.  Internally, this allowed the output matrix to be initialized on the device (e.g. GPU) and thereby avoid copying data from host to the device.  At the same

[2018-01-12 16:05] cdeterman commented on #109
Interesting, let me see what I can spin up.  That is encouraging that ViennaCL is finding the platforms.

[2018-01-12 18:38] cdeterman commented on #109
@rstub I believe I have a Docker image with pocl and beignet install with `apt-get install libpocl1 ocl-icd-opencl-dev beignet`.  But I want to make sure I install the same binary from Intel you used.  Can you provide a link?

[2018-01-12 20:12] rstub commented on #109
I used the drivers from https://software.intel.com/en-us/articles/opencl-drivers#latest_linux_driver, i.e. http://registrationcenter-download.intel.com/akdlm/irc_nas/11396/SRB5.0_linux64.zip.

[2018-01-12 21:26] rstub commented on #109
BTW, I have tried to setup a Docker image with only the Intel OpenCL driver. Here the Dockerfile:

[code]

I run this with `docker run --rm -ti --device /dev/dri:/dev/dri intel-opencl bash`. All tests for the OpenCL platform (`clinfo`, `platform` and `platform_vcl`) succeed. But When I install `gpuR` it ends with this error:
[code]

[2018-01-19 16:09] martinguerrero89 commented on #100
Having the same issue, also a gtx 680 2gb
Waiting for any  workaround!
Thanks!
PD: The package is great, very intuitive!

[2018-01-24 19:39] cdeterman opened #110 "Allow for CUDA backend"
It has occurred to me, during my toying with [gpuRcuda](https://github.com/gpuRcore/gpuRcuda) that I should be able to find a way to simply allow the user to indicate they wish to use the CUDA backend.  After all, ViennaCL is intended to make an interface for both OpenCL and CUDA.

If I am able to success in this, then gpuRcuda will no longer be relevant.  Instead, I would work to interface with r

[2018-01-24 19:43] cdeterman opened #111 "Using cmake for install?"
I have seen a few other packages using cmake to facilitate installation of packages with C++ code.  In particular some of which are dealing with getting Windows to compile with the `nvcc` compiler for CUDA code.  This will be particularly important if I can resolve the CUDA backend in issue #110.

[2018-01-24 20:53] martinguerrero89 opened #112 "not available to make a crossproduct of one dimenssional matrix (vclMatrix coerced to vector)"
Hello!
Nice packages here!, It made my life much easier.

I have a vclMatrix object and when I call `colMeans` it gets coerced into a Vector, though I want to use it as a matrix... How can I get around this problem?

[code]
I checked and found out that cm object gets coerced to a vector and then the tcrossprod function does not work, but it does work with normal vector objects. I would like to avo

[2018-01-24 21:17] cdeterman commented on #112
Thanks for the issue report, I believe I have now implemented `tcrossprod` for vector objects in the `develop` branch (pending CI tests passing).  Feel free to install and try it out yourself.

[code]

[2018-01-24 21:27] cdeterman commented on #112
That said, the functionality was actually implemented by using the `%o%` operation.  I implemented the `tcrossprod` overloaded methods as I could just recycle that internal function.  For all purposes, `%o%` for vectors is equivalent to `tcrossprod`.

[2018-01-24 22:03] martinguerrero89 commented on #112
excellent! the %o% implementation works perfectly, I will also try the dev version later, thanks for the fast response!!
The package is great!

[2018-01-25 14:24] antonysamuelb opened #113 "parLapply style function that uses GPUs"
Can a parLapply style function be implemented for GPUs?

[2018-01-25 14:54] cdeterman commented on #113
Possibly, the main issue is the external pointer thread safety well doing parallel operations.  This is noted in issue #24 and therefore I will close this issue and refer you to there.  As noted in there, the key is that you must return a normal, base R structure otherwise it will crash (as the external pointer will be lost).  As this is a 'reasonable' workaround at the moment (i.e. I haven't rece

[2018-01-25 14:54] #113 closed

[2018-02-01 18:23] cdeterman commented on #108
After thinking about this more I think I will change the `solve` function to still return to `gpuMatrix`.  This one exception flies in the face of the way the rest of the package works so it should be the same.  I will change it in the `develop` branch in the coming days and it will be part of the `2.1.0` release.

[2018-02-08 17:32] cdeterman commented on #110
I believe I nearly have this for Linux builds (and theoretically MacOSX).  However, I don't believe this will be possible for Windows given the requirement by NVIDIA's `nvcc` compiler demanding use of Visual Studio.  This is not supported by R and causes all sorts of other problems.  As such, until such a time the NVIDIA allows Windows OS to use the MinGW toolset the CUDA backend for `gpuR` will l

[2018-02-08 17:37] cdeterman commented on #110
@PengZhao @rhaunschild you two are users who have a noted interest in CUDA.  Could you try to install the `cuda` branch of this repository to confirm if it compiles nicely for you?  From R you should just need the following commands

[code]

If it works, I would encourage you to try and clone the repository branch and try to run the unit tests by opening an R session in the git directory and run

[2018-02-08 18:46] dselivanov commented on #110
Congrats @cdeterman! I've tried to install it but got this error:

                 from /home/dselivanov/R/x86_64-pc-linux-gnu-library/3.4/RViennaCL/include/viennacl/scalar.hpp:29,
                 from /home/dselivanov/R/x86_64-pc-linux-gnu-library/3.4/RViennaCL/include/viennacl/tools/entry_proxy.hpp:27,
                 from /home/dselivanov/R/x86_64-pc-linux-gnu-library/3.4/RViennaCL/include/v

[2018-02-08 18:53] cdeterman commented on #110
Thanks @dselivanov what version of `RcppEigen` do you have installed?

[2018-02-08 18:57] dselivanov commented on #110
Latest RcppEigen_0.3.3.4.0
After simlinking (as was suggested on SO) with
[code]
I got another portion of errors:
<details>
/home/dselivanov/R/x86_64-pc-linux-gnu-library/3.4/RcppEigen/include/Eigen/src/Core/arch/CUDA/Half.h(96): error: identifier "x" is undefined

/home/dselivanov/R/x86_64-pc-linux-gnu-library/3.4/RcppEigen/include/Eigen/src/Core/arch/CUDA/Half.h(138): error: identifier "x" is un

[2018-02-08 19:05] cdeterman commented on #110
Hmm... odd, it continues to work with my CUDA 8.0 on ubuntu 14.04 docker image.  I will try with CUDA 9.1 (as I see that is your version) on ubuntu 16.04 and see what happens.

[2018-02-08 19:06] dselivanov commented on #110
It seems it is indeed related to cuda 9.1 https://github.com/tensorflow/tensorflow/issues/15389

[2018-02-08 19:37] znmeb commented on #110
I recently acquired a laptop with an NVidia 1050Ti. It's currently running Windows 10 Pro with Hyper-V, Docker for Windows and Windows Subsystem for Linux. I have CUDA 9.0 without Visual Studio. I haven't tried anything involving `nvcc` yet though; TensorFlow 1.5.0 runs fine on it.

I am doing a lot of work with Docker at the moment but have no immediate plans to dual-boot the machine. I think Hyp

[2018-02-08 21:34] cdeterman commented on #110
@dselivanov I can confirm this same problem on my docker image.  I have found a way to resolve the initial problem (so you don't need to symlink) but I am looking in to why the half errors are happening which again appear to be an issue between Eigen and CUDA >= 9.

[2018-02-09 15:42] cdeterman commented on #110
@dselivanov I have created forks of the `BH` and `RcppEigen` package that I have updated using the most recent changes in the sources (i.e. boostorg and Eigen) to support CUDA >= 9.  Please try installing directly from my github with

[code]

and try to install `gpuR` again.  I have successfully compiled in my docker image (ubuntu 16.04, cuda 9.1).

[2018-02-09 16:33] dselivanov commented on #110
I got another error:
<details>
/usr/local/cuda-9.1/bin/nvcc -gencode arch=compute_30,code=sm_30 -std=c++11 -DGPU -x cu -c -Xcompiler "-fPIC" -Xcudafe "--diag_suppress=boolean_controlling_expr_is_constant --diag_suppress=code_is_unreachable" --expt-relaxed-constexpr -I. -I../inst/include -DBACKEND_CUDA -I/usr/share/R/include -I/home/dselivanov/R/x86_64-pc-linux-gnu-library/3.4/Rcpp/include -I"/home

[2018-02-09 17:10] cdeterman commented on #110
@dselivanov Bah..., I forgot as well that you need my github version of `RViennaCL`.  I am waiting on some pull requests with ViennaCL before I release the updates.

[code]

Then try once more.

[2018-02-09 17:55] dselivanov commented on #110
Successfully installed (and packages loads normally)!
[code]

However `devtools::test()` prints:

  unable to load shared object '/home/dselivanov/projects/gpuR/src/gpuR.so':
  /home/dselivanov/projects/gpuR/src/gpuR.so: undefined symbol: cudaMemcpyAsync

[2018-02-09 18:02] dselivanov opened #114 "Testing cuda backend"
Seems some testing will be needed. Will write problems here:

### 1

[code]

[2018-02-09 18:35] cdeterman commented on #114
@dselivanov did you solve the `undefined symbol: cudaMemcpyAsync` issue in #110?  Or does that only happen when running `devtools::test()`?

[2018-02-10 05:40] dselivanov commented on #114
Undefined symbol appears only during devtools::test

9 февр. 2018 г. 22:35 пользователь "Charles Determan" <
notifications@github.com> написал:

@dselivanov <https://github.com/dselivanov> did you solve the undefined
symbol: cudaMemcpyAsync issue in #110
<https://github.com/cdeterman/gpuR/issues/110>? Or does that only happen
when running devtools::test()?

—
You are receiving this because you wer

[2018-02-20 17:54] mjaniec2013 commented on #100
Same issue on GTX 1050 Ti 4GB.

[2018-02-22 19:22] cdeterman commented on #100
To all concerned, please try the latest `develop` branch of gpuR and attempt your loops again.  I have implemented some manual cleanup in the internal class finalizers that may help with this problem.  I am unfortunately not in a position to completely reproduce problem at the moment.

[2018-02-23 15:33] cdeterman commented on #85
@dselivanov Are we satisfied with this issue that it is a NVIDIA specific issue?  I want to know if there were any additional thoughts here or if I should close this issue.

[2018-02-23 16:32] cdeterman commented on #104
@Curious9x I have added this to the [wiki](https://github.com/cdeterman/gpuR/wiki/Build-Instructions-for-Linux).  Thanks for your report.

[2018-02-23 16:32] #104 closed

[2018-02-25 00:03] grizant commented on #100
Hello Charles and other gpuR users!

I can confirm that I can now multiply large matrices (3 GB x 3 GB) on a linux server on this gpu device:

 context                                   platform platform_index
1       1 NVIDIA Corporation: OpenCL 1.2 CUDA 9.1.98              0
                device device_index device_type
1 Tesla P100-PCIE-12GB            0         gpu

Thanks so much for effort

[2018-02-25 00:30] grizant commented on #100
Hold the phone it looks like i'm still getting the error. sorry for the premature good news. I'll provide a working example soon

[2018-02-27 19:36] cdeterman commented on #100
@andreasostling @martinguerrero89 @mjaniec2013 ping, did you happen to confirm if the changes in `develop` didn't solve the problem?

[2018-02-28 13:39] martinguerrero89 commented on #100
Hi @cdeterman!, I haven't tried the develop version yet. What I did previously was callining gc() at the end of each loop and that is working fine for the moment. Surely I will be trying the new version soon and will come back with results.
Thank you very much for your effort!

[2018-02-28 20:24] cdeterman commented on #85
@dselivanov excellent, thank you.  Regarding the CUDA backend, I didn't realize you were still running additional tests.  Can you provide any updates in issue #114

[2018-02-28 20:24] #85 closed

[2018-03-01 09:41] dselivanov commented on #114
@cdeterman actually I've updated first post here 16 days ago =)

[2018-03-01 14:13] cdeterman commented on #114
@dselivanov I didn't notice the update.  What does UDP stand for?  I am not familiar with that acronym.  Am I correct to assume the unit tests continue to fail though?

[2018-03-01 15:12] dselivanov commented on #114
Sorry for confusion. UPD just means update. At the time I did the update
tests were not working. I will try to check again.

1 мар. 2018 г. 18:14 пользователь "Charles Determan" <
notifications@github.com> написал:

[2018-03-05 17:31] agrueneberg opened #116 "gpuR as an optional dependency (Travis woes)"
I would like to add optional GPU support to one of my packages. After adding gpuR to `Suggests:`, `R CMD check` fails on platforms without GPU support such as Travis because it automatically installs optional dependencies and tries to load them (unless `_R_CHECK_FORCE_SUGGESTS_` is set to false, which may not be an option). On Travis, the missing OpenCL library needed during linking can be address

[2018-03-07 21:37] advocateddrummer opened #117 "Trouble installing package on CentOS 7.2 related to OpenCL"
I'm new to R and OpenCL, so please be kind if I'm being a complete noob! I've looked at #58 and used some information I found there to get started.

I manage a high performance computing resource at my university and a user would like to use this package on the cluster. Each node has an NVIDIA Tesla P100 card in it: see below:

    root@ts01 tmp]# git clone https://github.com/cdeterman/intel_openc

[2018-03-12 14:15] cdeterman commented on #117
Thanks for this report, I thought my `configure` script was taking care of this but something appears off.  You are correct that it is looks for `CUDA_HOME`.  It may be a good idea for me to add a section for `CUDA_PATH` as I believe that is another common configuration.  I am still a little perplexed why the default section of my configure failed for you though.  Can you provide the output of the

[2018-03-12 14:21] cdeterman commented on #116
Unfortunately I don't believe there is a way to accomplish this.  AFAIK, R requires the loading of `Suggests:` and is also noted by Dirk [here](https://stackoverflow.com/questions/29178171/travis-ci-r-suggested-package).  That said, I run unit tests of Travis CI using `gpuR`.  If you wish, you can use the the majority of my `.travis.yml` script [here](https://github.com/cdeterman/gpuR/blob/develop

[2018-03-12 21:30] advocateddrummer commented on #117
Please see below for your requested output. Thanks!

    [root@qbert ~]# ldconfig -p | grep 'libOpenCL\|lOpenCL'
       libOpenCL.so.1 (libc6,x86-64) => /usr/lib64/nvidia/libOpenCL.so.1
       libOpenCL.so.1 (libc6,x86-64) => /usr/lib64/libOpenCL.so.1
       libOpenCL.so.1 (libc6) => /usr/lib/libOpenCL.so.1
       libOpenCL.so (libc6,x86-64) => /usr/lib64/nvidia/libOpenCL.so
       libOpenCL.so (l

[2018-03-13 16:16] cdeterman commented on #117
I believe you need an ICD loader.  For debian system I know it is `ocl-icd-opencl-dev`.  For a CentOS system I believe you need `ocl-icd-devel` which you should be able to install with `yum`.

[2018-03-14 19:57] cdeterman commented on #117
@advocateddrummer I have just recently spun up a docker image of centos 7 from nvidia's docker hub.  You can find the dockerfile [here](https://hub.docker.com/r/nvidia/cuda/).  I made sure to use the CUDA 8.0 as you have on your system as well.  I could reproduce the error and following install of `yum install ocl-icd-devel` the `gpuR` build completed without error.  Please let me know if it does

[2018-03-14 23:49] mjaniec2013 commented on #100
Have **CL_MEM_OBJECT_ALLOCATION_FAILURE** error again :(

Have been trying to monitor GPU memory when the code is executed and after. Seems quite a bit more memory than required by the matrices to be multiplied is allocated. A question come to my mind: **how much memory is actually needed by matrix multiplication algorithm?**

gpuR v2.0.2, development version, freshly pulled
R 3.4.3 x64
Win 10
GPU

[2018-03-15 14:59] cdeterman commented on #100
@mjaniec2013 how much memory are you seeing allocated?  We need to keep in mind the 128 padding as well.  Furthermore, to make sure, please be sure to note if you are using `float` or `double` precision.  Essentially I would expect to see, for `double` precision 3 * 8064 * 8064 * 8 ~= 1.56 GB.  At least when run the first time with `vclMatrix` objects.  The key for me is if it is continuing to inc

[2018-03-15 18:38] mjaniec2013 commented on #100
Tested with smaller matrices (5k * 5k) and got error again at first test
run.

Matrix size as reported by object.size is 190.7Mb.

GPU memory usage jumped to >1200 Mb and stays there. Will go down after rm
& gc.

I use double.

Test code I use:

n <- 5000

A <- matrix( rnorm(n^2), nrow=n )
B <- matrix( rnorm(n^2), nrow=n )

vclA = vclMatrix(A, type="double")
vclB = vclMatrix(B, type="double")

vcl

[2018-03-15 18:47] cdeterman commented on #100
@mjaniec2013 thank you, that helps.  It looks like the memory is approximately doubling.  As the internal matrix sizes would be 5120x5120.  The math comes out for 3 matrices at double precision to 3*5120*5120*8*2 ~= 1.2GB.  I have just made another commit to `develop` that I think should help.  Please try the latest code at let me know if anything has improved.

[2018-03-15 19:19] mjaniec2013 commented on #100
5k * 5k matrix again.

Error in cpp_vclMatrix_gemm(A@address, B@address, C@address, 8L) :
  ViennaCL: FATAL ERROR: CL_INVALID_PROGRAM_EXECUTABLE.
If you think that this is a bug in ViennaCL, please report it at
viennacl-support@lists.sourceforge.net and supply at least the
following information:
 * Operating System
 * Which OpenCL implementation (AMD, NVIDIA, etc.)
 * ViennaCL version
Many thanks

[2018-03-15 19:40] cdeterman commented on #100
@mjaniec2013 that is strange, does it work with smaller matrices?  It just passed all my unit tests on Travis and I just did a matrix multiplication locally on my machine although it is just an Intel GPU.

[2018-03-15 19:52] mjaniec2013 commented on #100
Yes it work with smaller matrices:

- platform: NVIDIA Corporation: OpenCL 1.2 CUDA 9.1.84
  - context device index: 0
    - GeForce GTX 1050 Ti
checked all devices
completed initializationgpuR 2.0.2
Attaching package: ‘gpuR’
The following objects are masked from ‘package:base’:

    colnames, pmax, pmin, svd

[1,] 3.151196 1.106757

MJ

MJ

On Thu, Mar 15, 2018 at 8:40 PM, Charles Determan <notif

[2018-03-15 19:58] cdeterman commented on #100
@mjaniec2013 does the memory allocation on the GPU look more accurate as well with those 4K matrices?  I'm really not sure about the 5K matrix at the moment.

[2018-03-15 20:28] mjaniec2013 commented on #100
More or less, is fine. Growth from ~880 to ~1315MB -> 144 Mb per matrix, if
I am correct.

MJ

MJ

On Thu, Mar 15, 2018 at 8:58 PM, Charles Determan <notifications@github.com>
wrote:

[2018-03-16 13:45] cdeterman commented on #100
Thanks @mjaniec2013, do you have what the growth was prior to the change?  You could try installing the `master` branch and running the same code to see.  This would be a good confirmation of the most recent changes.

[2018-03-18 07:46] mjaniec2013 commented on #100
Matrix size was 4k*4k.

MJ

MJ

On Sun, Mar 18, 2018 at 8:43 AM, Maciej Janiec <mjaniec@gmail.com> wrote:

[2018-03-18 12:45] mjaniec2013 commented on #100
When using TensorFlow, GPU memory also gets filled quickly. rm and gc do
not free video memory. Only quitting Rstudio works. Nevertheless, the
memory does not "overfill" and no errors are generated.

MJ

MJ

On Sun, Mar 18, 2018 at 8:45 AM, Maciej Janiec <mjaniec@gmail.com> wrote:

[2018-03-21 17:47] cdeterman commented on #100
@mjaniec2013 I don't know if you were trying to include images or additional  things but since you replied via email they didn't come through.  I cannot see what you were trying to show after  _Meanwhile monitoring showed:_ comment.

Regarding Tensorflow, I heard somewhere the it uses all the GPU memory by default and releasing the memory is only done after you end the session (in this case Rstudi

[2018-03-21 17:53] cdeterman commented on #117
@advocateddrummer can you confirm whether this issue was resolved?  If I don't hear from you in the next few days I will need to assume that it was resolved as all local tests I have run pass.

[2018-03-21 17:53] #116 closed

[2018-03-21 20:49] advocateddrummer commented on #117
@cdeterman I'm sorry for the delay in responding; I've been snowed under. I've done what you suggested, i.e.,
`yum install ocl-icd-devel`
followed immediately by starting `R` and running `install.packages("gpuR")` which fails for what seems to be a different reason. Please see below.
[code]

Is this an unrelated error? Thanks for all help you've provided, I'll try to be more prompt hereafter. I'll

[2018-03-22 18:45] cdeterman commented on #117
@advocateddrummer hmm... can you see if it works if you set the environmental variable `CUDA_HOME` = `CUDA_PATH`?

I'm unsure about the icd thing at the moment.  I thought it would work but perhaps your installation doesn't have the NVIDIA icd either?  My initial guess would be to manually create the icd file to your nvidia opencl library.  You likely would need to create the directory structure `

[2018-03-28 23:07] advocateddrummer commented on #117
Still no dice:
[code]
Furthermore, the path you mention above does not exist on this host, I can only see
[code]
i.e., the `target` subdirectory is not there. However, the `libOpenCL.so` file exists in
[code]
I tried:
[code]
as you mentioned, but I get the same error as above.

I'm sorry this has been such a hassle. Your help is sincerely appreciated.

[2018-03-29 16:09] cdeterman commented on #117
@advocateddrummer Can you provide the `configure` output from the install?  It would be the output in the `...` you put in.  Also include the first `g++` call and the last one.  I want to have a look at how the code is actually being compiled and the flags are set.

[2018-03-31 08:47] mjaniec2013 commented on #100
Saved a picuture copy of the mail as: https://cl.ly/0B1t3P1P2a2p

As you can see, gpuR crashes after 19 iterations of small (n=1000) matrix
multiplication without gc()

I've been testing TF over recent days. In general there are no problems
with memory management here.

However, since TF in R is actually just an interface to Python version,
other issues arrise. Seems, at this moment using TF (and

[2018-04-02 17:14] advocateddrummer commented on #117
So sorry for the delay here. Please find below all the output I see when I try to install this package. Please note the environment setup up front; I copied it too so you'd know at least for now, that the $CUDA_HOME variable is set.

[code]

[2018-04-02 20:50] cdeterman commented on #117
@advocateddrummer It looks like the `CUDA_HOME` variable is not being found as you defined it in the current bash session.  You would need to define it either in your `.bashrc` file or directly in the R session with `Sys.setenv()`.  Try that and let me know if it helps.  You should see something like the following when you try to install

[code]

In particular the `using CUDA_HOME` line.

[2018-04-04 13:53] advocateddrummer commented on #117
@cdeterman I'm so sorry for all this back and forth. It feels like we're going around in circles, not making any progress. For what it's worth, I'm pasting the entire output of the install attempt again below. I don't want to continue wasting your time and I hope this isn't a PEBKAC error; is there any other relevant information that I could provide that might help here?

[code]

[2018-04-04 14:25] cdeterman opened #118 "custom_opencl fails with multiple scalar"
I received an email detailing a bug with `custom_opencl`.  When a user includes multiple scalars, the function will fail stating that the kernel arguments don't match.  A reproducible example is shown below.

saxpy.cl
[code]

R code

[code]

Returns the error:

Thanks to Tamas for reporting this bug to me.

[2018-04-04 14:32] cdeterman commented on #117
@advocateddrummer odd... Let's try something else a little simpler.  Can you compile the following small c++ script?

[code]

[code]

See what number this returns.

[2018-04-04 17:34] cdeterman commented on #118
This issue should be resolved now and will close once merged with the master branch.

[2018-04-04 17:39] tamas-ferenci commented on #118
That indeed seems to solve the problem, thank you!

[2018-04-04 17:54] tamas-ferenci opened #119 "Uninformative error message if queues are not given correctly in setup_opencl"
There is a very-very strange error message if the `queues` argument of `custom_opencl` does not match the name of the kernel. For instance (using the SAXPY example from the vignette)

    cl_args <- setup_opencl(objects = c("vclVector", "vclVector", "scalar"),
    intents = c("IN", "OUT", "IN"),
    queues = list("v", "SAXPY", "SAXPY"),
    kernel_maps = c("x", "y", "a"))

results in `'const class

[2018-04-04 18:06] tamas-ferenci opened #120 "Typo in setup_opencl's help file"
The description for the argument `queues` says

And that's it, no end of sentence...

[2018-04-04 19:14] cdeterman commented on #83
@dstanley4 I noticed this issue is becoming a little dated.  I never noticed an example from you on github so I wanted to know if this is still a problem for you?  I am doing some housekeeping as I want to get the 2.1.0 release of gpuR put together and therefore checking all open issues.  Thanks.

[2018-04-05 14:08] advocateddrummer commented on #117
Please see below @cdeterman, I'm unable to get this to compile. There are libOpenCL.so files in the directory you specified so it's not that the library doesn't exisit. Furthermore, as you'll see, I had to do some exploring to get all the includes right. Clearly, my environment isn't set up quite right for this compile command. Does this mean that I don't have the proper version of OpenCL installe

[2018-04-05 14:47] cdeterman commented on #117
@advocateddrummer my apologies, in my haste I overlooked that you would only have the viennacl headers in the RViennaCL package.  Please try the following.

[code]

[2018-04-06 10:52] mschubert opened #121 "Compilation fails for glibc=2.25, gcc=7.3.0"
I'm getting the following error compiling `gpuR` on Gentoo Prefix using up-to-date `gcc` (`7.3.0`), `glibc` (`2.25`), and `R` (`3.4.4`) with `Rcpp` (`0.12.16`) package:

[code]

There was a [similar error in Vivado](https://forums.xilinx.com/t5/Vivado-High-Level-Synthesis-HLS/Testbench-error-with-gcc/td-p/756773), which was linked to conflicting macros between glibc and their application.

Maybe s

[2018-04-06 14:11] cdeterman commented on #121
Thanks for the report.  I will see if I can spin up a docker image to reproduce the error.

[2018-04-06 16:11] cdeterman commented on #121
@mschubert if I may ask, how did you get the R-3.4.4 version installed?  I am not particularly familiar with Gentoo and after I run `emerge dev-lang/R` I only get the R-3.2.2 version.

[2018-04-07 12:44] mschubert commented on #121
For R I added my own `ebuild`, available here: https://github.com/mschubert/overlay

[2018-04-09 13:51] advocateddrummer commented on #117
@cdeterman I'm confused; this package from github does not provide any of the headers I was missing (or had to find) nor does it seem to provide any missing libraries.

Am I missing something?

[2018-04-09 13:56] cdeterman commented on #117
@advocateddrummer That is correct, the package I instructed you to clone is the original ViennaCL headers that don't have any of the R modifications and therefore won't require any of the extra dependencies.  I want as trimmed down of any example to figure out exactly where the problem is.  The `platforms_vcl.cpp` file should only contain C++ code and not require the other R libraries.  The `g++`

[2018-04-09 15:54] advocateddrummer commented on #117
@cdeterman, I'm so sorry, that's my bad. I copied and pasted without paying enough attention. I didn't modify the new include to point proper directory (I didn't notice the leading /).

Now, I'm able to compile it, but this is what I get when I run the executable:

[code]

[2018-04-14 20:32] 08walshth opened #122 "install gpuR in Anaconda"
Installing `gpuR` in Anaconda on a Windows 10 machine.

The `install packages` wizard has `gpuR ` pre-loaded when searching, but installing returns this error:

    Package which is only available in source form, and may need compilation of C/C++/Fortran: ‘gpuR’

I have also tried downloading the .zip from the `cdeterman ` source here, but installing again returns no error but also no installation

[2018-04-16 12:46] cdeterman commented on #122
Hi @08walshth I don't have Windows 10 so I unfortunately can't try and reproduce this problem.  Have you tried opening an R session and installing with `install.packages('gpuR')`?  Also, I assume you already have an OpenCL SDK installed?

[2018-04-17 14:19] aplikaplik commented on #100
Hi, i just hit the same problem, im using gpuR 2.0.0 because in not figured out yet how to install development versions. On my over kill GTX 1080 Ti with 11GB of memory i can multiply 8K matrix (488.3 MB), which consumes 1,091 MB of video memory. 9K matrix end with error.

----------------------------------------------------------------------
package

Loading required package: gpuR
Number of platf

[2018-04-17 15:14] cdeterman commented on #100
@aplikaplik strange with that much available device memory.  Regarding the develop version have you tried using `devtools::install_github('cdeterman/gpuR', ref = 'develop')`?  If you can do that and attempt your matrix multiplication again it would be helpful.

[2018-04-17 18:44] 08walshth commented on #122
Hi Charles,

So I got the package installed again and I believe you had it right...my
OpenCL was expired/broken. Reinstalling OpenCL fixed it. But now...do you
have any examples or ideas of using gpuR for classification models, i.e.
neural nets, SVM, random forests? Thanks for the direct reply!

On Mon, Apr 16, 2018 at 8:46 AM, Charles Determan <notifications@github.com>
wrote:

[2018-04-17 18:51] cdeterman commented on #122
@08walshth I am glad you managed to get the package installed.  I will close this issue then.

Regarding your second question, unfortunately nothing yet for classification models.  Doing so requires much more involved work.  This package contains all the 'base' linear algebra functions to do many algorithms.  I am periodically working on implementing a neural network package that leverages `gpuR`

[2018-04-17 18:51] #122 closed

[2018-04-17 18:58] 08walshth commented on #122
Thanks Charles, I also JUST read the same on one of the other forums you're
on out there. Thanks for all your work in this area!

On Tue, Apr 17, 2018 at 2:51 PM, Charles Determan <notifications@github.com>
wrote:

[2018-04-18 07:01] aplikaplik commented on #100
@cdeterman ok, i install the develop version, thanks for that. But i still see the error. On atached image, you can see memory usage for four tests, 8K, 9K, 10K, 20K (3Gb) matrix. I m definitely not expert in programming, but its looks more like some variable overflow rather that memory issue. Also is strange that after code execute, data remain in graphic memory, even in 8K matrix case. If you se

[2018-04-18 17:52] cdeterman commented on #117
@advocateddrummer It does appear that your OpenCL installation is not correct then (at least in the 80 toolkit you are linking to).  Perhaps you can try compiling against the other OpenCL libraries you initially found with the `grep` call above.  Try the following call:

[code]

[2018-04-20 17:59] cdeterman opened #123 "Custom OpenCL with 'double' variable not compiling when device has double support"
A curious issue was reported by @tamas-ferenci in a separate email chain.  When a custom opencl script was compiled in would error out saying

saxpy.cl
[code]

[code]

Log: <kernel>:3:1: error: use of type 'double' requires cl_khr_fp64 extension to be enabled

Yet, the device in question was reported to have double support via `deviceHasDouble()`.  The specific device here was a NVIDIA GeForce GT

[2018-04-20 18:00] #123 closed

[2018-04-20 20:01] cdeterman opened #124 "Better error message in custom_opencl when wrong type passed"
Currently, if a user compiles a custom OpenCL kernel with, for example, `type = double` and tries to pass a `double` type object such as `vclVector(rnorm(4), type = "double")`.  The compiled function will spit out a misleading error message like the following:

Now, this is not a fault of ViennaCL but in fact it is because it is expecting a different size (i.e. `double`) when you are passing a `fl

[2018-04-23 19:37] EvSorensen opened #125 "Performance Comparisons"
Hi,
I recently downloaded the 'gpuR' package and have been trying to make some comparisons of computation time. I am using an AMD card with Windows 10. I have seen much better performance using the vclMatrix when doing matrix multiplication, but have seen slower performance for other functions. Here's what I have observed:

Multiplying 2 1000 x 1000 matrices together 100 times:
generic R matrices:

[2018-04-23 22:43] advocateddrummer commented on #117
@cdeterman, This doesn't work either. I really think I must be missing something simple here and that we're making this more difficult than in should be.

I'm going to try to look into this further on my own so as to not waste more of your time. I have a feeling that there is a stupid environment issue going on here that you have no control over and only I will be able to figure out.

I'll close t

[2018-04-24 13:42] cdeterman commented on #117
@advocateddrummer I'm sorry to hear it is still a problem.  We can leave the issue open for now and perhaps close at a later date.  If you do happen to resolve the OpenCL configuration please report back here.  I know OpenCL installs can be tricky and I want to always hear how people resolve different situations.

[2018-04-24 18:31] anadon opened #126 "Install failure on Ubuntu 17.10"
Following the guide here: https://github.com/cdeterman/gpuR/wiki/Build-Instructions-for-Linux
I get the following truncated build failures (because so many lines are spit out I can't copy all of them): https://gist.github.com/anadon/9fc2950f2923d3aa9c470e2838e7f517

The result of clinfo is here: https://gist.github.com/anadon/0ca2ed263be379bb393ab1c17e77ed44

I'm not quite sure what I might be doi

[2018-04-24 20:27] anadon commented on #126
I've added the following packages: ocl-icd-opencl-dev ocl-icd-libopencl1 opencl-headers ocl-icd-dev ocl-icd-libopencl1 beignet clinfo

I've also added myself to the 'video' group

Still massive number of warnings, but a new failure point: https://gist.github.com/anadon/757bef10a1c12e80dcad8ef80748672c

[2018-04-24 20:29] anadon commented on #126
The Intel smoke tests have the following results: https://gist.github.com/anadon/c83d30cb1d065401ec6fc9a21d1a3120

[2018-04-24 21:26] anadon commented on #126
Of possible interest is a darktable test: https://gist.github.com/anadon/efeb607359b13e49a88cc65e8f7dbaa6

[2018-04-24 21:38] anadon commented on #126
Here are the available implementations on my system:
[code]

lspci: https://gist.github.com/anadon/8486744056b9c7d4f5b57abbd4c7669e
lscpu: https://gist.github.com/anadon/ea643bc1e2fb7087b2decb33c9bb1a72
complete installed package list: https://gist.github.com/6b026e17e12726f11d0e8b4d186ac5b1

[2018-04-24 21:40] anadon commented on #126
Updated clinfo: https://gist.github.com/2d4f0dc4a030e329ba52d01cca128b79

[2018-04-25 12:51] anadon opened #127 "Performance anomaly in solve()"
I was up until 2AM, so I'm only now getting to overnight results and haven't tested all functions.

I looks like solve() on one of my systems (I did get a different one working) only has ~10X speed up vs 1 CPU core, and when more cores are involved there is no performance difference.  Tested with POCL and the multithreaded solve(), and system tools indicate the solve job is being completed on the

[2018-04-25 12:54] anadon commented on #125
This looks related to something I found ( #127 ).  Some more thorough performance testing may be useful here.

[2018-04-25 13:03] anadon commented on #48
@bobymathew Checking in at the following:
https://launchpad.net/ubuntu/yakkety/amd64/nvidia-cuda-toolkit
https://devtalk.nvidia.com/default/topic/975944/cuda-setup-and-installation/ubuntu-16-10-cuda-toolkit-install-with-opencl/

It is likely that you have a broken driver installation.  Speaking from past systems, the closed source AMD and Nvidia drivers can be very fragile.

[2018-04-25 13:09] anadon commented on #121
Oh hey, mschu!  If it is something related to conflicting macros, the RcppEigen to system stack works, and the cuda to system stack works, so I'm betting it is a conflict between RcppEigen and cuda headers.  Would you be able to extract the macro names, and check if there are any in common between the RcppEigen and cuda headers?  Else it could be a malformed macro, so a more complex script trackin

[2018-04-25 14:54] AurelioG opened #128 "copying data from GPU to main RAM"
I installed gpuR and it works fine with K40 teslas nodes (each node, dual Xeon E5-2697v3 with dual K40), tutorial examples work fine by slurm scripts. My understanding was that any changes made in the GPU object (gpuMatrix) would be reflected in the core RAM object, because the gpuMatrix points to that object. If this is not the case, then how do I copy a matrix from the gpu back to core RAM? Many

[2018-04-25 15:30] anadon commented on #127
Here are my final (cleaned up) results:
[code]

So something is definitely wrong.

[2018-04-25 17:47] anadon commented on #127
It looks like solve() as implemented in `src/solve.cpp` should be using viennaCL's `viennacl::linalg::opencl::inplace_solve` and the deep copy of the A matrix in R/solve.R:33 can be completely skipped.  The implementations in `viennacl::linalg` and `viennacl::linalg::opencl` appear to vary significantly.  This may be a systematic.

Here's a number of the documents I'm looking at:
http://viennacl.s

[2018-04-25 18:09] anadon commented on #127
cleaned up my test script for easier use: https://gist.github.com/74f6c584b501e617af0fc1d9a2707d98

[2018-04-26 18:57] anadon commented on #126
What is the trouble with this difference?  From what I know, the differences between doubles and floats is automagically handled by the compiler.  Given that this would be for a research application where we do see differences in accuracy between doubles and floats, I am reluctant to use anything except doubles.

[2018-04-26 19:06] cdeterman commented on #126
@anadon The difference is that your GPU simply doesn't support `double` precision.  If you require `double` for your research you need access to a device that supports it.  It doesn't matter how much 'magic' the compiler solves if the hardware cannot handle it.

[2018-04-26 19:08] anadon commented on #126
I thought that got simulated in software.  In any case, it still isn't installing.  I can't get far enough to run that code on my laptop.  Got my desktop working on AMD stuff, but not so much with my laptop.

[2018-04-26 19:48] cdeterman commented on #126
@anadon where is the install failing now?  That previous output I referenced could only have executed following a successful install of gpuR.

[2018-04-26 19:50] anadon commented on #126
One moment, let me regenerate the logs.

[2018-04-26 20:39] anadon commented on #126
Here: https://gist.github.com/7655d627e8a38845c16ec549482fc371
Though with easier text to read, it may be a viennaCL problem?  I'm not sure.  I'm typically more in classical algorithms and bioinformatics so this excursion has been burning me out.

[2018-04-27 14:42] cdeterman commented on #126
@anadon I can understand the frustration with all the error warnings and I apologize for the install difficulties.  That said, there isn't an error in the file you linked.  It only contains warnings which, in themselves, prevent a successful build.  Are you sure you collected the entire output?  There should be a line which contains a g++ call on multiple `.o` and links to the libraries near the e

[2018-04-27 14:43] anadon commented on #126
Ah!  I see the problem now.  The logs are too long for gist and are being truncated.  Do you have a public email I can send these to?

[2018-04-27 14:49] anadon commented on #126
Emailed.  Also, all R libraries are reported to be up to date.

[2018-04-27 14:56] cdeterman commented on #126
@anadon I received your log file.  That is a strange error in which the install finds the devices and platforms but fails at load time.  Can you also try to install the current develop version?  I know I made some changes to the install that I want to make sure if this is a problem there as well.  You can install the develop version with the following R code.

[code]

[2018-04-27 22:04] anadon commented on #126
Are the new logs useful?

[2018-04-30 14:49] cdeterman commented on #126
@anadon I understand you have a research project but I am also very busy with my day job and I cannot always attend to issues with gpuR.  I would love to spend all the time in the world working to make this package better and solve everyone's issues as they arise but I cannot.  Please be patient and I will do my best to try to help with your problem.  It is unlikely I will have time today.  It is

[2018-04-30 15:08] anadon commented on #126
Sorry, I'm not trying to overwhelm.  I'm juggling a few projects right now, so balancing them can get tricky.

[2018-05-02 19:50] cdeterman commented on #128
@AurelioG apologies for the delayed response.  I have been quite busy lately.  To clarify, are you expecting the values in `B` to be updated by the changes in `gpuB`?

[2018-05-02 20:01] cdeterman commented on #125
@EvSorensen can you provide more details on your GPU?  The output of `gpuInfo()` should be sufficient.

[2018-05-02 20:31] AurelioG commented on #128
Yes, values in B should be updated by the changes in gpuB.
 I would need the results for further processing or writing.
What would be your suggestion?

[2018-05-02 20:36] anadon commented on #126
That file looks like `/etc/OpenCL/vendors/mesa.icd` is owned by `mesa-opencl-icd`, but it looks like it has been abandoned after the package was uninstalled.  After removing those, gpuR does work.

[2018-05-02 20:36] #126 closed

[2018-05-03 21:44] anadon commented on #125
@jakekramer I have a fork that _looks_ like it fixes this performance anomaly for solve() on vclMatrix objects.  I've been trying to get testthat to work, and if you could pitch in there we can merge back to main and resolve a few of these performance anomalies.

[2018-05-07 13:43] cdeterman commented on #125
@EvSorensen that's strange.  Are you using the current CRAN release or the `develop` version?  Can you also try the output of `listContexts()` and `currentDevice()`?

@anadon thanks for your initial efforts.  I am curious to look at the changes.  I have a pretty full day at the moment so I likely won't be able to look at anything today but I can certainly assist in the unit tests if there are trou

[2018-05-07 14:50] EvSorensen commented on #125
@cdeterman I was using the CRAN release. I installed the develop version, but got the same results.

My output from listContexts() was
  context                                                  platform platform_index                                    device device_index
1       1 Advanced Micro Devices, Inc.: OpenCL 2.0 AMD-APP (1800.8)              0 Intel(R) Xeon(R) CPU E5-1630 v4 @ 3.70GHz

[2018-05-07 14:55] cdeterman commented on #125
@EvSorensen ah, I see now.  The only device listed is your CPU.  There is no GPU being utilized.  Do you have a GPU installed?

Regarding the speedup with `vclMatrix` you have to note that the call is _asynchronous_ meaning that the call will always return almost immediately.  It has the added benefit and allowing operations to continue but if you want to truly benchmark `vclMatrix` you will need

[2018-05-07 15:00] EvSorensen commented on #125
@cdeterman Thanks for the help. I was told it was installed, but I'll have to ask my IT department more about that

[2018-05-07 18:03] EvSorensen commented on #125
@cdeterman Turns out I was just missing the correct drivers. Things are working a lot faster now

[2018-05-08 01:33] anadon commented on #127
@cdeterman Can you tell me how you run testthat for this project?  I've been having a little difficulty and a few other projects to split my attention.

[2018-05-08 16:40] cdeterman commented on #127
@anadon what problem are you running in to?  The testthat framework is generally pretty intuitive.  In this package I have test files for both CPU and GPU specific tests.  That way I can get tests run on Travis CI.  If you can explain a little more where your difficulty is I can assist.

[2018-05-08 16:42] tamas-ferenci opened #129 "Error when kernel function calls another function"
Consider the following - very silly, but illustrative - example:

     float sqrplusone( float in )
     {
       return in*in+1;
     }

     __kernel void SAXPY(__global float* x, __global float* y, float a)
     {
       const int i = get_global_id(0);
       y [i] += a * sqrplusone(x[i]);
     }

This is the content of `saxpy.cl`; let's now try to compile it:

      cl_args <- setup_opencl(obj

[2018-05-08 23:50] anadon commented on #127
Just from R studio, ho to run anything.  It should be, but I'm missing something.  I've read a few things off of google, but it just doesn't seem to be working.

[2018-05-09 13:53] cdeterman commented on #127
@anadon Well, you can always just use `devtools::test()` to execute all the tests.  If you just want to run one you can use `testthat::test_file(path='path/to/file')`.

[2018-05-15 14:18] #128 closed

[2018-05-21 18:03] #83 closed

[2018-05-24 19:54] dpokrovsky opened #130 "Performance compared to non-gpu variants"
Hello,
I've tried to benchmark the performance boost with the following code:

[code]

but results disappoint me a little:
[code]
It seems that vcl is definitely a fastest option (~4 times faster than non-gpu run), but gpu class is hugely slower compared to others!
Did I do something wrong here (any special guidelines when and how to use gpuMatrix to get performance improvements) or this not what

[2018-05-25 11:06] dselivanov commented on #130
@dpokrovsky you float instead of double - can be 10x+ faster than double (see discussion here https://github.com/cdeterman/gpuR/issues/92)
Also do you use cuda or opencl backend?

[2018-05-25 16:16] dpokrovsky commented on #130
@dselivanov thanks for the answer. I use OpenCL backend (from CUDA SDK), not gpuRcuda
BTW, I reworked the script to perform microbenchmark and system.time:
[code]
but the result is almost the same even for 'float':

[code]
CPU is the best, in-memory GPU is much worse and GPU for calculation only is the worst.

[2018-05-25 20:37] anadon commented on #127
Still on my list, just deprioritized as I have to get other work out.

[2018-05-25 22:19] Timag opened #131 "dist() works on 10k X 10k, but not on subset: 10K X 100"
Hi,

thanks for any infos already. A feedback would be very appreciated.

The overall goal would be to have up to 50k X 300 matrices,
it would be nice to have 10k X 100.

1. GPU details at the end.
2. Code used (on empty environment): (note first part which takes 10sec, will speed up to <1sec after first run).

Thanks for any infos!

1.
[code]

2.
Number of platforms: 1
- platform: NVIDIA Corporat

[2018-05-28 12:12] dselivanov commented on #130
I've checked on my side and can confirm that it works slow. I've compared to `cupy` and it seems gpuR with opencl backend is ~20x slower. Not sure why is that...
@dpokrovsky also I suggest to use `gpuR::synchronize()` along with GPU code.

[2018-05-28 12:19] dselivanov commented on #130
Actually with cuda backend performance is same ~20x worse compared to cupy on the same hardware.
@cdeterman any ideas?

[2018-05-30 14:53] dselivanov commented on #130
I compared dot product, crossproduct, tcrossproduct

[2018-05-30 14:55] cdeterman commented on #130
@dselivanov And the 20X slowdown is consistent across them all?  I am mostly surprised by the dot product comparison (for matrix multiplication).  I see that @dpokrovsky is using GeForce 840M, what GPU are you using?

[2018-05-30 16:57] dpokrovsky commented on #130
@cdeterman I use ver 2.0.0, built for x64 with CUDA 9.0 OpenCL header and lib. The driver version is 397.93 (NVIDIA Corporation: OpenCL 1.2 CUDA 9.2.127)

[2018-05-30 17:33] cdeterman commented on #131
@Timag Could you try the latest develop version?

[code]

There have been some changes there and I have added some additional comments that will spit out during `dist` to help debugging this.  You certainly shouldn't be encountering memory limitations with those Telsa GPUs and those matrix sizes.

[2018-05-31 03:50] anadon opened #132 "Test errors"
Here's some stock testing output with errors on the main branch.  Probably needs some poking.

Looks like there are a few instances of `unrecognized device type` which need some elaboration, update from `match` to `exact_match()` in `test_cpu_gpuVector_classes.R`, and `No CPUs found in context`.

Oh boy can this code get finicky.  For people needing this power typically, I think the guidence would

[2018-05-31 09:48] Timag commented on #131
@cdeterman: Thank you for the reply. It works for dim = 1000. But not dim>=1500.
What i am surprised by, is that 1500X1500 matrix works but not 1500X100 matrix. Even 10000X10000 works fine.
I lack ideas why the subset fails, while the bigger martrix (code) doesnt result in errors.

Thanks a lot!
(Offtopic: To not steal too much of your time -  If i may ask - are you open for consulting hours (paid

[2018-06-01 13:42] cdeterman commented on #130
@dselivanov I am working on updating [gpuRbenchmark](https://github.com/cdeterman/gpuRbenchmark) for this purpose.  Then there can be a stable location where benchmarks can be maintained for all to use.

[2018-06-01 19:21] AurelioG opened #133 "running with four GPUs"
The following is a tested script (and output) using 4 1080ti with a 256Gb RAM Xeon eight core platform. **The question is how to start the four GPUs in parallel?**
The print(Sys.time()) call suggests that the second GPU starts after the first GPU completes the math (how can I be sure of this?). I tried with foreach %dopar%  and is slower and I have to export (clusterExport) all four working matric

[2018-06-05 15:07] cdeterman commented on #133
@AurelioG the `for` loop you have written is sequential.  So each one will wait for the previous iteration to complete.  In theory it would have been nice to not require the copy back to main memory but the non thread safe aspect prevents that so the asynchronous calls with `vclMatrix` are moot.  The only way to use the GPUs concurrently is to use a `foreach` loop.

You shouldn't necessarily need

[2018-06-05 16:22] cdeterman commented on #130
@dpokrovsky @dselivanov I have updated [gpuRbenchmark](https://github.com/cdeterman/gpuRbenchmark) to include `benchmark_gemm`, `benchmark_crossprod` and `benchmark_tcrossprod`.  Even with my Intel HD Graphics GPU I am seeing at least the `float` performance exceeding the base R.

There is an important point to note that the first run of any function in `gpuR`, and thereby `ViennaCL`, there is the

[2018-06-05 17:16] cdeterman commented on #132
@anadon
Thank you for the report, you are using a slightly dated `develop` version.  Can you install the most recent version and try again?

[2018-06-05 17:28] anadon commented on #132
Sure.  I should be able to get the new version by Monday.  It may be a weekend project.  Right now I'm tied up with a new test suite.

[2018-06-05 17:57] cdeterman commented on #129
most recent commit resolves this issue

[2018-06-05 18:07] cdeterman commented on #131
@Timag sorry for my delayed response.  Thanks for testing again, did you have any of the comments that the current `develop` version should have printed?  For example, there should be lines like "pulled data" and "create 'twos' matrix".  I will need these to know where the problem is happening.  I find it curious that the square matrices are working for you at the larger sizes but not the rectangu

[2018-06-05 20:02] dselivanov commented on #130
I can confirm that on my old hardware I can see speedup ~3.7 of the gpuR on gtx680 over openblas on 4-core xeon X3470. For the `cupy` it seems I've benchmarked it wrong way (seems similar "synchronisation" affected result). So `cupy` shows more or less similar results to `gpuR`.

[2018-06-06 06:10] dpokrovsky commented on #130
Sorry, I am on R ver 3.5.0. It says that gpuRbenchmark is not for it. Will try to set 3.4 aside for testing.

[2018-06-06 06:19] dselivanov commented on #130
@dpokrovsky basically you need only [these functions](https://github.com/cdeterman/gpuRbenchmark/blob/d81d146f60b735bfadb8c7743efe1546107533fb/R/gemm_benchmark.R#L105-L121) you can just copy them

[2018-06-07 09:46] dpokrovsky commented on #130
I re-run my tests with those functions (not `benchmark_gemm` alone) and confirm there is speed bump for CL implementation (this one for tcrossprod):
[code]
So did I get it right that we basically need to always wrap the functions (with `synchronize` call within) in order to have the speed benefits from using them?

[2018-06-07 09:53] dselivanov commented on #130
@dpokrovsky no :-D ! it is used just for fair benchmark.

Computation in `gpuR` happens asynchronously. Without `synchronize()` control will be returned to R interpreter immediately. So it will look like any computation takes only couple of microseconds.

What BLAS (use `sessionInfo()` to check) do you use for CPU and what are the sizes of `A` and `B` matrices?

[2018-06-07 10:50] dpokrovsky commented on #130
@dselivanov thanks for a clarification on that.
I use no BLAS for CPU, just `base` matrix products. The matrix size is 250000 (500x500).

[2018-06-07 10:55] dselivanov commented on #130
@dpokrovsky I think if you will install openblas your CPU matrix products will be faster that GPU

[2018-06-07 13:39] cdeterman commented on #130
@dselivanov @dpokrovsky OpenBLAS may be faster.  These things are completely dependent upon the hardware and also the size of matrices.  I had a previous system where I used OpenBLAS and the GPU (a NVIDIA card) implementation did perform better.  Unfortunately I no longer have that system.  I believe it was a GeForce GTX 970.

[2018-06-07 20:48] shan0629 opened #134 "Misunderstanding if trying to add matrix with a vector"
library(gpuR)
A <- vclMatrix(rnorm(4), ncol = 2, nrow = 2)
B <- vclVector(rnorm(2))
as.matrix(A+B)
as.matrix(A)

We get same value.

           [,1]       [,2]
[1,]  1.3868894 -0.3154218
[2,] -0.9026289 -1.1150675

           [,1]       [,2]
[1,]  1.3868894 -0.3154218
[2,] -0.9026289 -1.1150675

I think it may cause hidden trouble if it doesn't behave like normal matrix without an error or warning

[2018-06-08 18:43] cdeterman commented on #134
Thanks for the report, I can confirm this is a bug.  I will address it as quickly as I am able.

[2018-06-10 21:47] Timag commented on #131
I wasnt sure whether it would be more easy to combine it with the "consulting" and sharing screen. But to keep going i just went ahead already:

Concerning your question: No i dont see any messages like that:

[code]

[2018-06-12 16:20] cdeterman commented on #134
@shan0629 this is actually because I don't have 'recycling' currently implemented when the size of the matrix and vector do not match.  That is part of issue #62.  If the sizes of the two objects match, then the functions continue to behave correctly.

[2018-06-20 16:45] cdeterman commented on #132
I believe all tests should be passing now.  I will close this for now unless you respond saying otherwise.

[2018-06-20 16:45] #132 closed

[2018-06-20 17:06] cdeterman commented on #131
@Timag ah, that was because I only put the comments in the `vclMatrix` code.  I have now added to the `gpuMatrix` code.  Feel free to install again at your convenience.  I apologize again for the delayed response, things have been quite busy for me lately.  Curiously I am having trouble reproducing your error.  Even on my puny Intel GPU, I am able to do the following without a problem.

[code]

[2018-06-20 20:25] KirstenD opened #135 "Registry file invalid"
Mac OSx wiki page
The registry link is undefined:  https://www.khronos.org/registry/cl/api/1.2/cl.hpp.

https://www.khronos.org/registry/OpenCL/api/ only links to version 2.1

[2018-06-20 20:30] cdeterman commented on #135
You are correct, I have now updated the documentation.  Thank you for the report.

[2018-06-20 20:30] #135 closed

[2018-06-22 21:24] Timag commented on #131
@cdeterman  No problem at all.
The output is kind of long. Please find it below. Hope it helps.

[code]

[2018-06-25 18:45] YijunXie commented on #100
Same issue here. I was trying to calculate the inner product of a 10k X 75 matrix and a 75 X 9k matrix, and got the error message about running out of memory.
==========================================================
Number of platforms: 1
- platform: NVIDIA Corporation: OpenCL 1.2 CUDA 9.0.282
  - context device index: 0
    - Tesla P100-PCIE-16GB
  - context device index: 1
    - Tesla P100-PCI

[2018-07-03 00:11] aapeters opened #136 "Installation failure with Centos 7.2"
Hello
I can't wait to use gpuR, with it's capability to do GPU functions for R objects. Please help me solve the following installation problems.

I do not have roots access
The compilation node does not have a gpu on it.
OS: CentOS Linux release 7.2.1511 (Core)
R.3.3.0
R CMD INSTALL --configure-vars='OPENCL_INC=/usr/local/apps/cuda/cuda-9.1/include OPENCL_LIB64=/usr/local/apps/cuda/cuda-9.1/lib64

[2018-07-03 14:01] cdeterman commented on #136
@aapeters I will try to spin up a docker image and try to reproduce.  In the mean time, could you try installing the `develop` version?  There have been many changes and I want to know if it still fails to compile there as well for you.  You can do so with `devtools::install_github('cdeterman/gpuR', ref = 'develop')`

[2018-07-03 14:59] aapeters commented on #136
I figured it out! I could not try the devtools option because that depended on something which caused problems to install. But here is what worked:
For both R330 and R350,
install.packages("assertive")
install.packages("RViennaOpenCL")
setting LD_LIBRARY_PATH and CUDA_HOME to point to the location of the libOpenCL.so file in the cuda package (cuda-9.1), needed for the last linking stage of the ins

[2018-07-03 15:05] cdeterman commented on #136
@aapeters glad you were able to resolve the issue.  Feel free to open another issue if you encounter other problems.

[2018-07-03 15:05] #136 closed

[2018-07-06 15:44] cdeterman commented on #100
To all concerned, I'm currently at a loss regarding this issue.  I will continue to poke at it and see if I can resolve it but I don't know about any specific timeline.  One thought, are any of these reports from an OpenCL SDK outside of NVIDIA?  I know the NVIDIA OpenCL has been shown to have issues before and I wonder if this is applying across vendor implementations.

[2018-07-11 19:20] thomasclifford commented on #49
Good day to you.
I am now getting an error when trying
devtools::install_github('cdeterman/gpuR', ref = 'develop')
it returns:
Downloading GitHub repo cdeterman/gpuR@develop
from URL https://api.github.com/repos/cdeterman/gpuR/zipball/develop
Installing gpuR
Installation failed: error reading from connection
Have you moved or updated the master at this point ?
When I use regular install.packages("

[2018-07-11 19:22] cdeterman commented on #49
@thomasclifford odd, no I have not moved anything.  It should work fine installing directly with `devtools` like that.  I am not sure at the moment.  Perhaps try again another time?  Regarding the zip file, yes, you should be able to simply download from the `develop` branch and manually install as well.

[2018-07-18 10:07] aplikaplik commented on #100
Hi, similar problem is discussed here  https://github.com/apache/incubator-mxnet/pull/11374

[2018-07-22 08:49] csitaula opened #137 "problem installing gpuR"
Error:

Downloading GitHub repo cdeterman/gpuR@develop
from URL https://api.github.com/repos/cdeterman/gpuR/zipball/develop
WARNING: Rtools is required to build R packages, but no version of Rtools compatible with R 3.5.1 was found. (Only the following incompatible version(s) of Rtools were found:3.5)

Please download and install the appropriate version of Rtools from http://cran.r-project.org/bin

[2018-07-23 12:17] cdeterman commented on #137
@csitaula as the install error states, you need to install [Rtools](https://cran.r-project.org/bin/windows/Rtools/) in order to install `gpuR`.

[2018-07-24 04:32] csitaula commented on #137
Worked!

[2018-07-24 04:32] #137 closed

[2018-08-03 15:49] cdeterman commented on #100
@aplikaplik thanks for the link, it does appear similar but in that case it appears to just be a matter of passing the correct context to make sure it is managed correctly.  I will need to continue to review my code to see if I can track down where this may be happening.

[2018-08-29 12:03] mjmg commented on #110
Is there an easier way to switch between OpenCL and CUDA backends?

Right now it seems that you have to uninstall/reinstall/rebuild packages between
[code]
and regular install.packages
[code]

It would be nice if there could be one build for both platforms linked to both OpenCL and CUDA libraries and switch context using some flags.

[2018-08-29 15:23] cdeterman commented on #110
@mjmg I would ideally prefer to have the ability to switch between both backends but I don't think it is possible with ViennaCL.  @karlrupp is it possible to use both OpenCL and CUDA concurrently with ViennaCL?  If so, perhaps something could be done here.

[2018-08-29 18:12] karlrupp commented on #110
yes, it is absolutely possible to switch between CUDA and OpenCL backends in ViennaCL at runtime. That's one of the strengths of ViennaCL over other libraries.

[2018-08-29 18:55] cdeterman commented on #110
@karlrupp are there any examples of this?  For example, how could I create two matrices one in OpenCL and one in CUDA?

[2018-09-02 02:25] ss229 opened #139 "problem in installing ‘gupR’ in windows7"
My computer system is windows7 (with AMD gpu), and I want to install the R package 'gupR' on my computer.

Before install the R package 'gpuR', I have (1) install OpenCL SDK; (2)Rtools; and (3) add  OPENCL_INC and OPENCL_LIB32/OPENCL_LIB64 to my environmental variables.
But when I install 'gpuR' normally:
"install.packages('gpuR')".

It encounter problems:
"......
../CL/cl_d3d11.h:93:5: error: unk

[2018-09-03 07:56] nasica88 commented on #81
@cdeterman   Any progress with gpuR on ppc64le ?

[2018-09-04 14:53] cdeterman commented on #81
@nasica88 I never heard back from IBM.  I just sent out another email reaching back out to them to inquire about the status of this.  I will report back when I hear anything.

[2018-09-04 14:56] cdeterman commented on #139
@ss229 could you provide some more of the output?  I am looking for some of the lines that include the `g++` call in them.

Also, what did you set your `OPENCL_LIB32/64` and `OPENCL_INC` to?  I want to make sure they are pointing to the correct places.

[2018-09-05 11:05] mjmg commented on #117
I encountered a similar error on my CENTOS docker container a while ago.

You need to set a lot of environment variables, symlinks and fix the ICD loader.
https://github.com/cdeterman/gpuR/issues/66

As mentioned here:
https://github.com/cdeterman/gpuR/issues/117#issuecomment-375416987
[code]
there is a correction. The nvidia icd loader should be:
```libnvidia-opencl.so.1``` not ```libOpenCL.so```

[2018-09-05 16:37] cdeterman commented on #81
@nasica88 IBM has notified me that no progress was made as the department shifted focus.  The recommendation is to simply build pocl yourself for the install to work properly.  The `pocl` install docs can be found [here](http://portablecl.org/docs/html/install.html).  Sorry it came to a rather unexciting conclusion.

[2018-09-06 01:51] ss229 commented on #139
(1)The entire output of installing 'gupR' are:
"
安装源码包‘gpuR’

试开URL’https://mirrors.tuna.tsinghua.edu.cn/CRAN/src/contrib/gpuR_2.0.0.tar.gz'
Content type 'application/x-gzip' length 538276 bytes (525 KB)
downloaded 525 KB

* installing *source* package 'gpuR' ...
** 成功将'gpuR'程序包解包并MD5和检查

   **********************************************
   WARNING: this package has a configure script
         It

[2018-09-07 15:42] cdeterman commented on #139
@ss229 A few thoughts, first can you try installing the `develop` version with the following command?

[code]

If that fails can you pull a local copy?  I am not able to reproduce this myself so we will unfortunately need some back and forth.  You can clone the repository with

[code]

Navigate to the `inst/include/loader` directory and try to compile the icd.c file with the following command

[co

[2018-09-12 17:43] zhewa opened #140 "Inconsistent results between CPU and GPU matrix multiplication (integer)"
Hi @cdeterman ,

I recently started doing matrix multiplication in R using GPU and `gpuR`. I found an inconsistency between CPU and GPU matrix multiplication results for integer matrices. Here is an example:

[code]

This only happens for relatively large integer matrices and not for float matrices or small integer matrices. I also tested this on a Windows 10 desktop with NVIDIA GeForce GTX 1080 G

[2018-09-14 15:57] cdeterman commented on #140
@zhewa thanks for this report.  I have confirmed it on my own machine.  Something must be wrong with the integer kernel.  I will need to have a closer look at this.  I suspect it is because the matrices aren't square and the kernel doesn't handle the rectangular shape well.

[2018-09-14 15:59] cdeterman commented on #139
@ss229 have you had a chance to do any further troubleshooting?  This is a strange install error that I unfortunately don't have a direct answer for.

[2018-09-17 17:19] cdeterman commented on #140
@zhewa this should be resolved in the `develop` branch now.  My CI is failing because of some time constraints.  Please feel free to install the `develop` branch with `devtools::install_github('cdeterman/gpuR', ref = 'develop')` to test and confirm it works for you.

[2018-09-21 16:29] cdeterman commented on #140
@zhewa try once again now, I have verified locally that the different sizes are working.  I couldn't quite reproduce your last example as my current GPU is just the basic Intel GPU that came with my laptop (it crashes my browser as it is running the display).

[2018-09-21 16:46] zhewa commented on #140
@cdeterman Yes, I think it works now. I tried multiplication of integer matrices up to 1 million columns and the results are identical between CPU and GPU. Thanks you.

[2018-10-01 16:37] cdeterman commented on #131
@dselivanov have you encountered this error/bug before with any of the NVIDIA cards you have used?

[2018-10-01 16:45] dselivanov commented on #131
Don't remember. I just got 1070ti so potentially can test. The issue is
that I don't have properly set up environment and lack any spare time...
Will try my best to help with testing but can't commit any time estimation.

пн, 1 окт. 2018 г., 20:37 Charles Determan <notifications@github.com>:

[2018-10-01 16:53] cdeterman commented on #131
@dselivanov fair enough, just thought would ask as you are the most active NVIDIA user that I am aware.

[2018-10-04 17:37] cdeterman commented on #131
I did discover a general issue whenever the dimensions exceeded 128 (the internal padded sizes).  But I believe I have fixed the problem now.  Hopefully this latest commit addresses the original issue provided by @Timag.

[2018-10-05 08:29] Timag commented on #131
Hi @cdeterman , sry for the late response.
I installed the latest dev Version of the package and it works for 15000 X 100.

ndim <- 15000
AA <- gpuMatrix(rnorm(ndim*100), nrow = ndim, ncol = 100)
BB <- dist(AA)

I also tried, 50000. It failed then, but i think that is more due to the hardware limit (i took the p2.xlarge instance on aws).

[2018-10-05 14:27] cdeterman commented on #131
@Timag glad to hear it is working now.  Yes, I suspect it would be a hardware limit.  I will close this issue now unless another issue arises.  Sorry it took so long to resolve.

[2018-10-05 14:27] #131 closed

[2018-10-05 14:31] ss229 commented on #139
Thank you so much for your consideration.

I encounter a problem.

(1) when I'm installing the develop version with the following command:
"devtools::install_github('cdeterman/gpuR', ref = 'develop')"
I get:
Error in loadNamespace(name) : There is no package called 'devtools'

(2)When I install the R package "devtools". I also get the error:
......
ERROR: compilation failed for package 'git2r'
...

[2018-10-05 14:36] cdeterman commented on #139
@ss229 `devtools` is required for this development install.  Try installing `git2r` as well as see if there are further dependency errors.  I'm surprised that the dependencies aren't automatically trying to install.

[2018-10-05 14:59] cdeterman opened #141 "Additional in-place operations"
Add more in-place operations

- [ ] - `exp`
- [ ] - `abs`

[2018-10-12 19:19] liminfang opened #142 "Problem with running gpuR on Mac Pro"
Summary of the problem:
The gpuR on Mac Pro is very slow and gpuInfo() returns an error message saying that "No GPUs found in context"

Detailed Description:
I have successfully installed gpuR on my Mac Pro, and loading the library gives the following information:

However, when I type in gpuInfo(), R console returns an error message:

Also I run the following script:
[code]
The cpu time for multi

[2018-10-17 02:34] vmoprojs opened #143 "cholesky decomposition and chol2inv"
Hi,

I would like to use some gpuR features in likelihood functions optimizations. To this end, I have two particular questions:

- It turns out that in the following code, gpuR does worse than normal CPU computation for Cholesky%*%vector multiplication and inverting a matrix. In my setting I need to work further with the results and that is why I use "[]" to the end so that there is a _fair_ comp

[2018-10-17 14:40] seekerquoc commented on #49
Hello,

When i installed it on window 10 64bit and it show me this error with this command:
**### devtools::install_github('cdeterman/gpuR', ref = 'develop')**
* installing *source* package 'gpuR' ...

   **********************************************
   WARNING: this package has a configure script
         It probably needs manual configuration
   **********************************************

*

[2018-10-17 14:55] cdeterman commented on #142
@liminfang sorry for slow response, I have been quite busy lately.  Regarding the failure of `gpuInfo` can you provide the output of `listContexts()`?  It looks like your default context is on the CPU (i.e. your Intel Xeon).  As such, there are no GPUs in that context.

If my assumption is correction, then `cpuInfo` would work for you by default and provide information about your CPU.  If that is

[2018-10-17 15:00] cdeterman commented on #49
@seekerquoc do you have Rtools installed?

[2018-10-17 15:09] seekerquoc commented on #49
sorry when i restarted R studio, its working well

ty so much

[2018-10-17 20:58] liminfang commented on #142
listContexts() returns:

[2018-10-17 20:59] liminfang commented on #142
@cdeterman Yes, you are right: if I use
`gpuA <- gpuMatrix(A, ctx_id = 2L, type = "double")`

It solves the problem nicely. Now the gpu matrix multiplication from my original code takes only 2.8 seconds instead of 200 seconds.

[2018-10-17 20:59] #142 closed

[2018-10-18 15:04] cdeterman commented on #143
@vmoprojs thanks for the report.  There currently is no `chol2inv` function.  I will need to add that to the list of functions to implement.

Regarding performance, cholesky decomposition is experimental.  As such, the performance is not were I would like it to be.  I will try to work on improving it but I can't promise a timeline.  Regarding `solve`, that is being addressed in #127.

A couple of

[2018-11-01 20:02] jonpeake commented on #100
Was there ever an update  or fix for this? Trying to make custom vegan functions for the use of large (50000-site) ecological site-by-species matrices, and wanted to use the gpuR functions to speed up the matrix math. Running across the same issues as those above. Thanks!

[2018-11-05 16:58] cdeterman commented on #100
@jonpeake unfortunately not, I have not had sufficient time to track down this issue.  I'm glad you are finding uses for this package and I hope to resolve this.

[2018-11-05 17:42] jonpeake commented on #100
Thanks @cdeterman, for now I'm going to try a direct implementation of the nvBLAS library in the meantime (side note, do you know if this same issue has cropped up in the gpuRcuda implementation? I'm currently running R on Windows, but I'm wondering if it might be worth it to install an Ubuntu partition on my machine for the purpose of using gpuRcuda (if it is able to use the same out-of-vram proc

[2018-11-15 16:24] jonpeake commented on #110
@cdeterman I tried installing cuda-backed gpuR but can't get any of the cuda functions to work. For example, if I try creating a vclMatrix, I receive the error
[code]
My GPU info is below, running CUDA 10.0 on Ubuntu 18.04:
[code]
Any idea what's going on?

[2018-11-15 17:08] jonpeake commented on #110
@cdeterman Never mind! Figured out that RStudio doesn't automatically import system environment variables if opened from the desktop, I needed to open from command line for it to import.

[2018-11-27 14:05] dualvim opened #144 "NVIDIA Device not recognized"
I first trued the `gpuR` library (Windows 10) in May/2018 and it worked perfectly. It found my NVIDIA device and the Intel devices. Now (November/2018) I tryed again to use the `gpuR` library and R finds only the Intel devices. I really tried hard to figure out what I did in these past months, but I can't find. Also, the NVIDIA driver is correctly installed, since I'm able to use the TensorFlow-GP

[2018-11-27 17:02] cdeterman commented on #144
Did the anything else change between those two dates?  Did you reinstall `gpuR`?  Did you get a new GPU or modify any of the OpenCL dependencies?

[2018-11-27 17:12] dualvim commented on #144
Wow, Thank you for the fast reply.
I just updated R from 3.5.0 to 3.5.1. I believe that is something related to the R environment configuration. I looked in many places here in my computer to find the old config, but I didn't find a clue.

And the funniest  thing in this story is that I'm my Python scripts which uses TensorFlow are working fine (TensorFlow-GPU uses CUDA).

Is the a place in Window

[2018-11-27 17:21] cdeterman commented on #144
@dualvim could you perhaps try to reinstall and provide the output from the package compilation?  I'm curious what the configuration output shows.  I suspect it isn't using the OpenCL ICD and thereby only recognizing one type of OpenCL device.  The output of the installation would help clarify this.

[2018-11-27 17:39] dualvim commented on #144
Here the full output:
I'm going to test it now

[code]

Now I'll check if everything is okay

[2018-11-27 17:45] dualvim commented on #144
Nope. Still the same output.
Is there somewhere in Windows where I can look for something?

Now I'm remembering a very important detail: When I was compiling OpenBLAS in july, all the procedure which used to work stopped working. I remember that I got a lot of headaches untill I figure out the way to proceed.

This stuff that I'm talking about ocurred because a major Windows update ocurred in end

[2018-11-27 18:10] dualvim commented on #144
I tried reinstalling it using 'devtools'
Now the instalation failed it didn't work and the problem seens to be related to the 'icd.o' file (Rtools didn't find it):

[code]

That's it.
Thank you very much!

[2018-11-30 16:55] cdeterman commented on #144
Sorry for delay, I ran in to the same issue with `devtools` as it doesn't respect BUILD flags and it needs to keep the empty directories (perhaps I can have the installation create directories, another thought for myself).  If I simply 'build' the package first and then 'install' the subsequent tar ball (i.e. `install.packages("../gpuR_2.0.3.tar.gz", repos = NULL, type = "source")`) then it instal

[2018-11-30 21:30] dualvim commented on #144
Well I'll try to build the libraries with MSYS2 and RTools here. If I build the libraries and after that copy then to the folder which my R packages are installes, it will run without any issues?

[2018-12-10 06:51] SmittyD-92 opened #145 "NVIDIA GPU ViennaCL fatal error (Windows 10)"
Hi,

I've been trying (and failing) to download gpuR from Rstudio. I have the most recent versions of R and R-tools. And I set the environmental variables as such:

Sys.setenv(OPENCL_LIB64 = "C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.0/lib/x64")
Sys.setenv(OPENCL_INC = "C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.0/include")
Sys.setenv(CUDA_HOME="C:/Program Files/NVIDIA GPU

[2018-12-10 21:52] raynerhayl opened #146 "Misunderstanding of inplace function"
I'm trying to apply a function over each value in a gpuMatrix using the inplace function however am unsure how to call it. I keep getting an error 'undefined operation'.

[2018-12-10 21:58] SmittyD-92 commented on #145
It's the CRAN release using install.packages('gpuR')

[2018-12-11 17:10] cdeterman commented on #145
Please try installing the `develop` version with the following

[code]

I have made some updates in this branch that may address the issue.  I want to confirm if it is still a problem here.  Thanks.

[2018-12-11 21:59] #146 closed

[2018-12-12 12:19] Ahlerich commented on #144
Hi there!
Is this problem still open? I'm encoutering the same problem - my videocard (GeForce GTX 1060) isn't recognized and while installing it by `devtools::install_github('cdeterman/gpuR', ref = 'develop')` I run into the error `Fatal error: can't create x64/icd.o: No such file or directory`

[2018-12-12 16:15] cdeterman commented on #144
Yes, it is still open.  I have been struggling to find time.  I am trying to quickly address the missing directory part by updating the `Makevars.win` file.  I will notify when the changes have been pushed.

[2018-12-12 21:58] SmittyD-92 commented on #145
I got the same error. Here's the end of the configuration output (please let me know if you need to see the whole output):

Rd warning: C:/Users/dcorrell/AppData/Local/Temp/RtmpSc5dzi/R.INSTALL1804790825f7/gpuR/man/pmax.Rd:21: file link 'pmax' in package 'base' does not exist and so has been treated as a topic
Rd warning: C:/Users/dcorrell/AppData/Local/Temp/RtmpSc5dzi/R.INSTALL1804790825f7/gpuR/m

[2018-12-19 18:04] znmeb commented on #144
I have a laptop with an NVidia 1050Ti that's dual-booted Windows 10 Pro and Arch Linux. I can test this if there's anything that needs testing.

[2018-12-20 02:31] znmeb commented on #144
OK - looks like I have the same problem. It sees the Intel CPU and the Intel Graphics but not the NVidia 1050Ti

[code]
This is the CRAN package, Windows 10 Pro - I just re-installed NVidia CUDA.

I can see the DLLs and header files in Windows search - there are also some `OpenCL.lib` files. The only ICD files I see are from Intel though - `Intel_OpenCL_ICD64.dll`, for example. Maybe I need to ins

[2018-12-20 03:20] dualvim commented on #144
I also reinstalled CUDA and Visual Studio when I was trying too.  Today, I reinstalled using `devtools::install_github('cdeterman/gpuR', ref = 'develop')` and this time it installed great, but didn't recognized my NVIDIA GPU, with the same results from @znmeb. Also, just found the same ICD files which @znmeb mentioned.

[2018-12-20 03:58] znmeb commented on #144
@dualvim I'm off of Windows for the rest of the day but I'll get back to troubleshooting tomorrow. Visual Studio didn't help.

[2018-12-20 16:05] cdeterman commented on #144
Can you both check your Windows 10 versions?  I saw this [post in the NVIDIA forums](https://forums.geforce.com/default/topic/1051147/windows-10-1803-upgrade-removes-opencl-functionality/) that talks about Windows 10 version 1803 causing issues for OpenCL.

[2018-12-20 16:23] dualvim commented on #144
Bingo Mr Determan! My version is exactly the 1803. I already tried most of the things mentioned there and none of them solved the problem.

The only one that I didn't try yet is the one which uses the 'Display Driver Uninstaller', but I did something close to that. I uninstalled all the CUDA and NVIDIA drivers and reinstalled everything again and also no success. Is it possible that somthing remai

[2018-12-20 16:42] cdeterman commented on #145
@SmittyD-92 what is your Windows 10 version?  I wonder if this is related to the issue #144.

[2018-12-20 17:53] znmeb commented on #144
I have the Fall update - I don't remember the number but it was the one Microsoft shipped out that they had to hold back because it was deleting users' files. :-(

[2018-12-20 18:01] znmeb commented on #145
I got the same error on Arch Linux, so it's probably not Windows-related. It went away when I installed all the NVidia and OpenCL packages on Arch. Here's the list; it's probably similar for other distros:

[code]

Notes:
1. This is an HP Omen dual-booted Windows 10 Pro and Arch Linux. The GPU is an NVidia 1050Ti.
2. `compute-runtime-bin` is the Intel OpenCL driver for the Intel GPU. So, including

[2019-01-10 19:18] cdeterman commented on #145
@SmittyD-92 did any of the information by @znmeb help?  Is something perhaps missing in your installation?

[2019-01-10 19:20] cdeterman commented on #144
@dualvim did anything further come of this?  Did you find a way to roll back the update or find a work around?  I haven't investigated this much further due to holiday and work related stuff but I don't want to leave this issue hanging.

[2019-01-10 19:55] dualvim commented on #144
Hi @cdeterman  I tried something in the same day of your last message but I didn't find any way to roll back my windows updates here. Also, now I can't build R like I built the last three times. Then I Gave up because it drove me nuts

[2019-01-11 15:16] dualvim commented on #144
I deleted the last message. I reinstalled R and R tools (for the second or third time since last message from @znmeb ). Then I instaleed the gpuR from the source using `devtools::install_github('cdeterman/gpuR', ref = 'develop')`. Unfortunately the results remain the same:

[code]

[2019-01-11 15:35] cdeterman commented on #144
@dualvim how about this, can you provide the contents of your NVIDIA install?  I am wondering if the OpenCL related files are missing or in a different location.  I am particularly interested in where the ICD should be.  I guessing that perhaps something similar may need to be done as I have in my [intel_opencl](https://github.com/cdeterman/intel_opencl/blob/master/.travis.yml) build script but na

[2019-01-11 15:57] cdeterman commented on #144
@dualvim you could also check the registered OpenCL platforms within your registry keys.  To do so, simply launch the `regedit.exe` and look in the directory `HKEY_LOCAL_MACHINE\SOFTWARE\Khronos\OpenCL\Vendors`.  That should list the registered OpenCL applications that will be automatically found with the general ICD.

[2019-01-11 16:19] dualvim commented on #144
Yes, it just shows the OpenCL driver from Intel:

In `Computador\HKEY_LOCAL_MACHINE\SOFTWARE\Khronos\OpenCL\Vendors` It just return the following entries:

[code]

Is there a way to Register The NVIDIA's OpenCL driver in this folder?

[2019-01-11 16:21] cdeterman commented on #144
@dualvim I am trying to research this.  I know how on Linux but not so much on Windows.  I will update if I come across anything.

[2019-01-12 07:29] evodevosys opened #148 "gpuR installation error Ubuntu 18.04. unknown OpenCL error"
I've followed the installation instructions in the  wiki for Linux including installing the various Nvidia drivers, but am having the error below.

[after a bunch of compiling]
** R
** inst
** byte-compile and prepare package for lazy loading
Creating a generic function for ‘eigen’ from package ‘base’ in package ‘gpuR’
Creating a generic function for ‘%o%’ from package ‘base’ in package ‘gpuR’
Cre

[2019-01-14 16:45] cdeterman commented on #148
@evodevosys can you trying installing `apt-get install nvidia-opencl-icd`?  See if that helps you.  Also, did you set any flags prior to compilation (e.g. `OPENCL_LIB`)?

[2019-01-14 17:26] evodevosys commented on #148
@cdeterman When I tried the nvidia-opencl-icd it gave me:

[code]

My nvidia cuda version is 410 so I tried installing that one, but it says it is already the newest version (I suspect it is probably installed with the cuda toolkit from [here](https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1804&target_type=deblocal)

I didn't set

[2019-01-14 17:32] evodevosys commented on #148
The last one just before it installs it to the R libs directory is:

`g++ -std=gnu++11 -shared -L/usr/lib/R/lib -Wl,-Bsymbolic-functions -Wl,-z,relro -o gpuR.so RcppExports.o chol.o context.o custom_math.o device.o gpuEigenPtr.o gpuMatrix_igemm.o norm.o platform.o set_row_order.o solve.o synchronize.o trunc_gpuMat.o utils-vcl.o utils.o vclPtr.o vienna_blas1.o vienna_blas2.o vienna_blas3.o vienna_e

[2019-01-14 17:38] cdeterman commented on #148
Hmm..., one more thing then.  Could you provide the output from the following command.  I want to see where the `libOpenCL.so` is on your machine.

`ldconfig -p | grep 'libOpenCL\|lOpenCL'`

[2019-01-14 17:41] evodevosys commented on #148
`$ ldconfig -p | grep 'libOpenCL\|lOpenCL'
	libOpenCL.so.1 (libc6,x86-64) => /usr/local/cuda-10.0/targets/x86_64-linux/lib/libOpenCL.so.1
	libOpenCL.so.1 (libc6,x86-64) => /usr/lib/x86_64-linux-gnu/libOpenCL.so.1
	libOpenCL.so (libc6,x86-64) => /usr/local/cuda-10.0/targets/x86_64-linux/lib/libOpenCL.so
	libOpenCL.so (libc6,x86-64) => /usr/lib/x86_64-linux-gnu/libOpenCL.so
`

[2019-01-14 18:00] cdeterman commented on #148
Ok, here's another test.  Clone my [intel_opencl](https://github.com/cdeterman/intel_opencl) repository

[code]

Then try to compile that script with the following.

[code]
Then run it

[code]

If that doesn't work, try linking directly to your `libOpenCL.so`

[code]

[2019-01-14 18:05] evodevosys commented on #148
I got errors (and several warnings) in both of those.  Here is complete output:

`~/Downloads/intel_opencl$  [master] $ g++ -o clDeviceQuery -I/usr/include clDeviceQuery.cpp -lOpenCL
clDeviceQuery.cpp: In function ‘void clPrintDevInfo(cl_device_id)’:
clDeviceQuery.cpp:54:70: warning: format ‘%u’ expects argument of type ‘unsigned int’, but argument 2 has type ‘size_t {aka long unsigned int}’ [-Wfo

[2019-01-14 18:15] cdeterman commented on #148
The warnings are okay but the script is saying essentially saying that no platforms were found (the Error -1001).  Sorry for so much back and forth but I also forgot about just the `clinfo` call.  Try installing and executing `clinfo`.  Installation I believe should be a simple `apt-get install clinfo`.

On a separate note, I have been coming across different instances of OpenCL troubles with the

[2019-01-14 18:36] evodevosys commented on #148
Actually, I'm not sure I _can_ do that (or at least know how to do this).  When I look at the [CUDA toolkit 9.2 download](https://developer.nvidia.com/cuda-92-download-archive?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu) there is no Ubuntu 18.04 version.

[2019-01-14 18:40] cdeterman commented on #144
@dualvim I think I may have found how to add the registry key.  Naturally proceed at your own discretion.  See the link [here](https://www.geeks3d.com/20181220/how-to-enable-intel-opencl-support-on-windows-when-amd-radeon-graphics-driver-is-installed/).  Essentially it seems that you go to that registry editor and add a new key to that 'Vendors' directory.  You should be able to click the 'Edit->N

[2019-01-14 23:05] dualvim commented on #144
I tried this. In this first try the library is installed, but the installation doesn't finish. It stops in the last message, checking wether the library  can be loaded.

But now is very clear where the issue is. I'll make some (or lots of) new tries here and if I find I'll explain how to solve this here... Thank you very much @cdeterman!!

[2019-01-15 22:44] evodevosys commented on #148
Sorry for the delay - I missed the 'executing clinfo' part of what you said.  Here is the output:

`sarifkin@rendel:~/Downloads/intel_opencl$  [master] $ clinfo
Number of platforms                               1
  Platform Name                                   NVIDIA CUDA
  Platform Vendor                                 NVIDIA Corporation
  Platform Version                                OpenCL

[2019-01-16 16:57] Ahlerich commented on #144
Hi there,
I didn't have access to the regarding device for the last days which is why I couldn't join the discussion.
The registry key for NVIDIA's openCL.dll is missing on my system as well.
I'm not sure which file I have to register...
Is it in the "...\NVIDIA Corporation\OpenCL" folder? There's an "OpenCL.dll" and an "OpenCL64.dll" available.

[2019-01-17 17:47] cdeterman commented on #144
@Ahlerich I believe it should be the `OpenCL.dll`.  But ultimately trying either one would be a good test.

[2019-01-17 18:47] cdeterman commented on #148
@evodevosys The last part with the `clGetPlatformInfo` was part of the `clinfo` output?  If so, it appears that indeed the OpenCL is not working/connected to the NVIDIA toolkit.

[2019-01-17 21:46] evodevosys commented on #148
yes, that was part of the output.

[2019-01-17 23:10] evodevosys commented on #148
In case it is useful, I ran: ` strace -fv ./clDeviceQuery | grep -i opencl` as per the suggestion on [this thread ](https://stackoverflow.com/questions/49512129/error-no-opencl-platforms-found-check-opencl-installation) and got the following output from the grep:

`1 OpenCL Platforms found
 CL_PLATFORM_VERSION:   OpenCL 1.2 CUDA 10.0.206
OpenCL Device Info:
 1 devices found supporting OpenCL on: N

[2019-01-18 01:30] evodevosys commented on #148
Problem may have been solved based on your OpenCL-NVIDIA communication comment.

I found [this thread](https://devtalk.nvidia.com/default/topic/1036967/linux/unable-to-use-opencl-cuda-on-ubuntu-18-04/) and followed the advice in comment 4 to purge anything nvidia and then reinstall.

I then tried your clDeviceQuery and that gave me:

I then tried install.packages('gpuR') [so the cran package] and

[2019-01-18 02:00] evodevosys commented on #148
The problem may be solved!

Based on your comment that there appeared to be a communication error between OpenCL and NVIDIA, I did a web search and came across [this thread](https://devtalk.nvidia.com/default/topic/1036967/unable-to-use-opencl-cuda-on-ubuntu-18-04/)
I followed the instructions in comment #4 to purge all nvidia stuff and then reinstall the CUDA toolkit.

I then reran your clDeviceQ

[2019-01-18 05:22] dualvim commented on #144
**FINALLY I figured out the solution!!!**

**Procedure**:

1. Go to `C:\Windows\System32\` and search there for the files named `nvopencl`
![image](https://user-images.githubusercontent.com/7637348/51366913-55b52c80-1acf-11e9-8911-e3b305b9da5f.png)

2. Look for the most recent file, right-click with mouse and copy the folder in "Local:"
![image](https://user-images.githubusercontent.com/7637348/51

[2019-01-18 23:16] Ahlallan opened #149 "pmax and pmin not working on vclMatrix"
Hi,

Thanks for that great package! Unfortunately I cannot make the pmin and pmax functions work. The simple example :
[code]
returns :
[code]

Am I using the functions correctly ?

[2019-01-21 18:58] cdeterman commented on #148
@evodevosys excellent, glad the issue is resolved.  I will close this issue then.

[2019-01-21 18:58] #148 closed

[2019-01-21 18:59] cdeterman commented on #144
Glad this is working for multiple people.  I will likely add this to the wiki to help others in the future.  I will close this issue then.

[2019-01-21 18:59] #144 closed

[2019-01-21 19:01] cdeterman commented on #149
That is strange, I will need to take a look.  To make sure I understand, are you saying that `pmax`/`pmin` work on `gpuMatrix` objects?  I suspect this potentially has to do with S4 methods not being generic but I need to be sure I understand the problem.  Also, is this the CRAN or dev version of the package?

[2019-01-23 15:51] seancmonahan commented on #144
Solution for **AMD Radeon GPUs** not showing up is similar to @dualvim's solution for Nvidia https://github.com/cdeterman/gpuR/issues/144#issuecomment-455431253:

1. Go to `C:\Windows\System32\` and search for **`amdocl64.dll`** for OpenCL 2.1, x86_64. (There are also `amdocl.dll` for OpenCL 2.1, x86;  `amdocl12cl.dll` for OpenCL 1.2, x86; and `amdocl12cl64.dll` for OpenCL 1.2, x86_64.)
2. Look fo

[2019-01-24 07:43] chesun opened #150 "Installation Error on Windows 10 x64"
I followed the instructions but installation failed. Both NVIDIA CUDA SDK and Rtools were installed. Here's the console output:

Installing package into ‘C:/Users/sunch/Documents/R/win-library/3.5’
(as ‘lib’ is unspecified)
Package which is only available in source form, and may need compilation of C/C++/Fortran:
  ‘gpuR’
installing the source package ‘gpuR’

trying URL 'https://cran.rstudio.com/s

[2019-01-24 18:16] cdeterman commented on #150
Have a look at the solution provided in issue #144, I have yet to right up an updated Wiki to include that information.

[2019-01-24 18:54] chesun commented on #150
Thanks for the reply! Could you please elaborate on how to insert the file path in the windows registry editor?

[2019-01-24 18:57] cdeterman commented on #150
@chesun I make a brief description how [here](https://github.com/cdeterman/gpuR/issues/144#issuecomment-454113922).  You can open up the registry editor by simply opening your windows search and finding `regedit.exe`.  The rest of the instructions in that issue should explain the rest.  You simply need to copy and paste the correct path in the new 'DWORD' that you create.

[2019-01-24 19:05] chesun commented on #150
Thanks! I did that but the installation failed again and it gave me the exact same errors. Do I need to insert the Intel OpenCL path as well?

[2019-01-24 19:06] cdeterman commented on #150
@chesun can you provide a screenshot of your windows registry?

[2019-01-24 19:08] chesun commented on #150
![registry](https://user-images.githubusercontent.com/27652541/51702297-531f6f00-1fc8-11e9-9243-a0500d3dca93.PNG)

[2019-01-24 20:34] cdeterman commented on #150
I can't see the full path, is that for the `nvopencl.dll` file?

[2019-01-24 20:56] chesun commented on #150
Yes, that is the path to the nvopencl64.dll file. I’ll update the
screenshot and include the full path when I get back to my computer

On Thu, Jan 24, 2019 at 12:34 PM Charles Determan <notifications@github.com>
wrote:

[2019-01-24 23:22] chesun commented on #150
C:\Windows\System32\DriverStore\FileRepository\nv_dispi.inf_amd64_5db32447b43ce666
This is the full path I added to the registry. This was the location of the nvopencl64.dll as suggested by dualvim in issue #144

[2019-01-25 04:48] NickSEC commented on #49
Folks,
     This gpuR package loos very nice!  Just one problem - when I tried to install Rcpp, it installs version 12.7, which is the latest that is on the CRAN site.  However, the installation error tells me that version 12.15 is required.  Where on CRAN is this version??  I hope that finding it will be the final step in installing gpuR.

Nick.

[2019-01-25 04:55] NickSEC commented on #49
Downloading GitHub repo cdeterman/gpuR@develop
from URL https://api.github.com/repos/cdeterman/gpuR/zipball/develop
Installing gpuR
"C:/PROGRA~1/MIE74D~1/RCLIEN~1/R_SERVER/bin/x64/R" --no-site-file --no-environ --no-save --no-restore --quiet CMD INSTALL  \
  "C:/Users/Analysis/AppData/Local/Temp/Rtmp8aSpaX/devtools1e14673a5d7/cdeterman-gpuR-a42f75d"  \
  --library="C:/Users/Analysis/Documents/R/wi

[2019-02-02 21:44] chesun commented on #150
@cdeterman just wanted to follow up on this issue. Thank you!

[2019-02-07 15:40] cdeterman commented on #150
@chesun sorry for my delay.  I assume you rebuilt after you added the path to the registry? @dualvim was there anything else you did after adding that path to the Vendors registry?

[2019-02-07 15:59] chesun commented on #150
I’m assuming by rebuilding you meant reinstalling the package? If so then
yes and it still didn’t work.

On Thu, Feb 7, 2019 at 7:40 AM Charles Determan <notifications@github.com>
wrote:

[2019-02-07 16:07] dualvim commented on #150
Absolutely nothing more, @cdeterman . I had built the gpuR package some days before I try what I said.

@chesun, did you check carefully the file directory before copying to the registry? Because if you mistakenly copy the wrong path, when you try to load the gpuR package, the R freezes.

I suggest to check careffuly the right folder in `C:\Windows\System32\` where the `nvopencl64.dll` file is.

I

[2019-02-07 16:10] dualvim commented on #150
Just a screenshot of a search that I did right now for the `nvopencl64.dll` file:
![image](https://user-images.githubusercontent.com/7637348/52424861-fcdf1f80-2ae1-11e9-8ee9-71052abf66b3.png)

You must copy the file of the most recent one, like the one I selected in the image above.

[2019-02-26 16:52] cdeterman commented on #150
@chesun did the information from dualvim help?  This seems to be a 'solved' problem that is a consequence of how NVIDIA installs on Windows 10 given their bias away from OpenCL.  If not, I'm not sure how else to direct you, possibly your installation isn't correct in some way but I could only guess.

[2019-02-26 21:33] dualvim commented on #150
I think that it's solved. Just a remainder here: Everytime that you update the "GeForce Game Ready Driver", you must repeat the procedure that I explained here and in the other post. I figured this out today when I tried to use the `gpuR` and it didn't find my GeForce device, then, I just had to update the folder in RegEdit and everything is working fine here.

I don't know why NVIDIA is making di

[2019-02-27 18:15] cdeterman commented on #150
I will close this issue then until such a time that it appears there is a different problem with Windows 10 OpenCL with NVIDIA.  Thanks to all involved.

[2019-02-27 18:15] #150 closed

[2019-03-01 17:57] prdm0 commented on #127
Dear Colleagues, what causes the ```gpux``` inversion code to be slower than the ```x``` inversion?

    set.seed(0)
    x <- matrix(rnorm(10000,0,1),100,100)

    system.time(
    for(i in 1:1e4){
      solve(x)
    })

    library(gpuR)

    set.seed(0)
    x <- matrix(rnorm(10000,0,1),100,100)
    gpux <-vclMatrix(x, 100, 100)

    system.time(
    for(i in 1:1e4){
      solve(gpux)
    })

 -

[2019-03-30 13:58] boscolamhk opened #151 "Issues in installing 'gpuR' in Windows10"
Hello All,

I have recently got a new desktop and graphic cards (NVIDIA GTX2060) and would like to install 'gpuR' to speed up the computation. I follow this post for the [installation](https://github.com/cdeterman/gpuR/wiki/Build-Instructions-for-Windows) and it doesn't seem like working However, I have been facing some error messages after reading others' posts with similar issues.

[code]

Below

[2019-04-01 17:20] cdeterman commented on #151
Thanks for reporting the issue.  Please see the solutions provided in issues #144 and #150.  Please let me know if you are still unable to resolve the problem.

[2019-04-02 13:43] boscolamhk commented on #151
Thanks for the prompt reply.

Below is my pc spec:
Operating System: Windows 10 version 1809
Graphic Card: NVIDIA GeForce RTX 2060
R version 3.5.2

Below are some actions I tried:
1) I went to the Registry Editor by running `regedit.exe`. However I was not able to locate `HKEY_LOCAL_MACHINE\SOFTWARE\Khronos\OpenCL\Vendors`. Inside the "Khronos" directory, I could only see `Vulkan\ImplicitLayers `.

[2019-04-03 16:45] cdeterman commented on #151
@boscolamhk are you installing from CRAN or from the git repo?  I put in a fix for the missing directory problem in the 'develop' branch when building the ICD loader.

[2019-04-04 02:23] boscolamhk commented on #151
@cdeterman Sorry I am not sure what master branch is, but I use this line:

If it is not the master branch, would you mind providing more guidelines on how to do it please?

[2019-04-04 14:39] boscolamhk commented on #151
I tried installing once again and posted the full output for your reference:

[code]

[2019-04-06 23:44] dfleis commented on #151
I have been able to get the x64 architecture ViennaCL errors working by following the registry editing advice in #144. However, I too have persistent i386 architecture errors that the registry editing method hasn't resolved.

[2019-04-09 16:47] anadon commented on #127
@prdm0 I have a few insights, but the author knows more.  The big thing is that not all operations are directly supported by calling into GPU operations.  Like in this issue, it actually breaks into 2 calls handled in R which control offloaded GPU instructions.  There is a lot of overhead in the adapting to R, but there also presumably some extraneous steps taken in the different GPU function call

[2019-04-21 12:01] boscolamhk commented on #151
@cdeterman is there any update?

[2019-04-29 14:09] monsieurxu opened #152 "Trouble installing gpuR package with R 3.6"
Hello, as i upgraded to R 3.6.0 i try to reinstall gpuR package. It fails on 2 PC, one under macOS 10.14 and the other one under Windows10.

So I tryed installing with
`devtools::install_github("cdeterman/gpuR")`

But same error each time:

`clang++ -std=gnu++11 -dynamiclib -Wl,-headerpad_max_install_names -undefined dynamic_lookup -single_module -multiply_defined suppress -L/Library/Frameworks/R.

[2019-04-29 17:22] cdeterman commented on #152
@monsieurxu thanks for the report, I am actively working on this.  I will update when I have the solution resolved for release to CRAN.

[2019-04-29 18:26] cdeterman commented on #152
@monsieurxu feel free to try to install from the `develop` branch in this repo.

[2019-04-29 19:04] monsieurxu commented on #152
ok, it seems to be fixed. Thank you

[2019-04-29 19:05] cdeterman commented on #152
@monsieurxu excellent, gives me more confidence submitting the fix to CRAN.  Thank you

[2019-04-29 19:05] #152 closed

[2019-04-30 15:09] anwilk commented on #150
@chesun I was having the same issue. However, once you point the registry to the DLL file _itself_ (eg. C:\Windows\System32\DriverStore\FileRepository\nv_dispi.inf_amd64_5db32447b43ce666\nvopencl64.dll) then it recognizes! Pointing just to the file it is contained within is not enough and this is my guess as to what is wrong

[2019-05-03 18:26] #101 closed

[2019-05-03 18:26] #103 closed

[2019-05-03 18:26] #112 closed

[2019-05-03 18:26] #98 closed

[2019-05-03 18:26] #108 closed

[2019-05-03 18:26] #118 closed

[2019-05-03 18:26] #119 closed

[2019-05-03 18:26] #120 closed

[2019-05-03 18:26] #92 closed

[2019-05-03 18:26] #129 closed

[2019-05-03 18:26] #140 closed

[2019-05-05 05:35] Nelson-Gon opened #153 "Provide examples in documentation"
I have discovered this package and being a new user went straight to the docs to see how to use each of these functions. I tried `as.gpuMatrix` and naturally would think `as.....` is converting whatever I give it to a `gpuMatrix` so I tried:
[code]

This results in:

  unable to find an inherited method for function ‘as.gpuMatrix’ for signature ‘"integer"’

I think this has to do with the package

[2019-05-10 10:32] zekeargus opened #154 "gpuR Windows 10 (w. admin rights) - Lazy loading failed -- error.. unused arguments"
Hello. Followed instructions in "Build Instructions for Windows"
https://github.com/cdeterman/gpuR/wiki/Build-Instructions-for-Windows

installed NVIDIA SDKs, set environmental variables globally within R
Sys.setenv(OPENCL_INC = "C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.1/include")
Sys.setenv(OPENCL_LIB32 = "C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.1/lib/Win32")
Sys.set

[2019-05-10 15:01] cdeterman commented on #154
Please see issue #152.  I am trying to get the fix for R 3.6 pushed to CRAN.  You can install by pulling from this git repo with `devtools::install_github('cdeterman/gpuR')`

[2019-05-10 15:01] #154 closed

[2019-05-13 16:19] zekeargus commented on #151
NVIDIA based system with R-3.6
Hello. I have the exact comment as you have. I have also added a registry key as described in issue 144
by "dualvim commented on Jan 18 >" on nvopencl64.dll
I still get the same error. Have you worked-around this?

[2019-05-15 14:40] jeffkeller87 opened #155 "gpuR pulled from CRAN due to unresolved check errors"
Visiting the [`gpurR` CRAN page](https://cran.r-project.org/web/packages/gpuR/) shows this message:

[code]

[2019-05-15 16:29] cdeterman commented on #155
Yes, I am dealing with some frustrations with R-devel during the CRAN submission.  I need to resolve why the `BH` package doesn't have certain files.  Hopefully I will get it back up on CRAN soon.

[2019-05-17 12:59] zekeargus opened #156 "Issues in installing 'gpuR' in Windows10 #151- Continuing"
NVIDIA (Quadro M620) based system with R-3.6
I have the exact comment as you have. I have also added a registry key as described in issue 144
by "dualvim commented on Jan 18 >" on nvopencl64.dll

**Ran:**

Downloading GitHub repo cdeterman/gpuR@master
These packages have more recent versions available.
Which would you like to update?
1:   xfun (0.6 -> 0.7) [CRAN]

**Error below:**
** building pack

[2019-05-29 14:13] cdeterman commented on #155
This has been resolved now, see [here](https://cran.r-project.org/web/packages/gpuR/index.html)

[2019-05-29 14:13] #155 closed

[2019-05-29 16:57] bryanhanson opened #157 "detectGPUs is not exported"
Looks like `detectGPUs` is not exported (fresh install on Mac).

[code]

sessionInfo()
R version 3.6.0 Patched (2019-05-19 r76539)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Mojave 10.14.5

Matrix products: default
BLAS:   /Library/Frameworks/R.framework/Versions/3.6/Resources/lib/libRblas.0.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.6/Resources/lib/libRlapack.

[2019-05-29 17:27] cdeterman commented on #157
Odd, did you just install this from the new CRAN release?

[2019-05-29 17:31] bryanhanson commented on #157
Yes, was just following the little tutorial/intro.  Installed a few hours ago from CRAN.

[2019-05-29 17:34] cdeterman commented on #157
Bah! My NAMESPACE is incorrect in the released version.  I will need to update and push to CRAN again.  Sorry for the confusion.

[2019-05-30 18:03] cdeterman commented on #157
@bryanhanson please try the most recent CRAN release with version 2.0.3.

[2019-05-30 18:14] bryanhanson commented on #157
All good!  Thanks.

[2019-05-30 18:14] #157 closed

[2019-06-27 23:56] richherr commented on #133
All,

I thought I would share my solution to this problem.
Note that my use of the "RLinuxModules" package is
NOT necessary here if you are not working on a shared
Linux system being manage with "environment modules".

This example is accessing Tesla K80 cards on a remote
compute node in our university HPC center

Best regards,

Rich
richherr@gmail.com

##########################################
#

[2019-07-16 15:41] masonyoungblood opened #159 "Installing on Ubuntu 18.04"
I am trying to install gpuR on Ubuntu 18.04 and always get the following error message: "ViennaCL: FATAL ERROR: CL_DEVICE_NOT_FOUND". I've tried to install from both CRAN and Github. Both the NVIDIA (v 418.67) and CUDA (v 10.1) drivers were installed from runfiles. According to the output of clinfo my device (GeForce GTX 1050 Ti) is ready to go. Do you know what the issue could be?

[2019-07-16 19:02] #159 closed, assigned to nobody

[2019-07-29 20:14] iarosenco commented on #151
Workaround that did it for me: Re-install R & R-tools with 64-bit binaries and libraries only.

@boscolamhk @zekeargus

[2019-07-31 16:05] martinguerrero89 opened #160 "gpuR recognizes Intel Graphic card but not nvidia"
Hi!
Thank you for your great package, I've used it in a Linux environment and works perfectly
I was trying to set it up in my windows machine but I cannot make gpuR "see" my nvidia card
Below the code used for installation and the output:

#Already installed CUDA toolkit v10.1 properly

Sys.setenv(OPENCL_INC = "/path/to/opencl/headers/")
Sys.setenv(OPENCL_LIB32 = "/path/to/opencl/library/x86")
Sys

[2019-08-21 16:02] Ridermhsieh opened #161 "issue in installing 'gpuR' in Linux"
Hi,

   When I tried to install the "gpuR" packages in the Linux, I received the following error message: "package 'gpuR' is not available (for R version 3.4.0)."

   The current R version in the Linux is 3.3.
   I wonder if I need to have a updated R version >= 3.4.0  to install the"gpuR" package.

Thanks

Melinda

[2019-08-27 14:20] cdeterman commented on #161
Sorry for slower response,  I would look at which repo you are using to install packages from.  If you look at the CRAN release page [here](https://cran.r-project.org/web/packages/gpuR/index.html) you can see that it is available and should be able to be installed for R >= 3.0.2.

[2019-08-27 14:31] Ridermhsieh commented on #161
Hi Charles,

   Thank you for getting back to me.

   My issue was resolved recently.

Thanks

Meng-Chen

On Tue, Aug 27, 2019 at 10:20 AM Charles Determan <notifications@github.com>
wrote:

--
Meng-Chen (Melinda) Hsieh, Ph.D.

Assistant Professor
Department of Information Systems, Analytics, and Supply Chain Management
College of Business Administration
Rider University, Lawrenceville, NJ
TEL : 6

[2019-08-28 00:45] #161 closed, assigned to cdeterman

[2019-08-28 08:47] eta21 opened #162 "gpuR installation fail"
Dear cdeterman

I've been attempting to install gpuR on a new system for the last few months without success. I've tried every iteration of dev and stable versions of the gpuR package and viennaCL and I keep getting the same error. Install starts, goes well, right untill the end at which time I encounter:

* installing *source* package 'gpuR' ...
** package 'gpuR' successfully unpacked and MD5 sum

[2019-09-10 18:41] cdeterman opened #163 "Add 'cor' functionality"
It would be useful to also have `cor` in addition to the `cov` function currently implemented.

[2019-09-23 20:09] ss229 opened #164 "The error, when I intall gpuR package"
When I use devtool to install gpuR, the error is listed below.

Error in rethrow_call(c_processx_exec, command, c(command, args), stdin,  :
  setup stdio (system error 2, The system could not find the specified file.
) @win/processx.c:970

[2019-09-28 05:34] xiaoluolorn commented on #160
I have the same situation as you, have you worked it out?

[2019-10-08 21:20] martinguerrero89 commented on #160
Mmm not, I kept trying but no solution and Charles hasn´t answered yet. I decided to go back to my linux partition but this is not a good solution...
If you get it working please let me know!

[2019-10-15 08:37] htiosc85 opened #165 "Eigen Calculation in gpuR"
![image](https://user-images.githubusercontent.com/18095472/66814777-bfcd0600-ef69-11e9-9f73-4e0f1aee0836.png)

Hi, I am trying to calculate eigenvalue/eigenvectors with gpuR matrix.
But, when i try to verify the result with the basic definition,  A*x = lambda*x
i find that the results are unmatched, as shown in the figure.

May i know what happened? Thank you :)

[2020-01-03 20:08] alutterb opened #166 "unable to find an inherited method for function ‘as.gpuMatrix’ for signature ‘"matrix"’"
Error: `Error in (function (classes, fdef, mtable)  :
  unable to find an inherited method for function ‘as.gpuMatrix’ for signature ‘"matrix"’`

Reproducible example:
[code]

This will throw the aforementioned error.  I am running 3.6.2 version of R.  Any help is appreciated, thank you!

[2020-01-14 04:37] andrewkurzweil commented on #160
Have you tried the solution offered here: https://github.com/cdeterman/gpuR/issues/144#issuecomment-455431253

[2020-01-14 13:11] martinguerrero89 commented on #160
@andrewkurzweil  thanks for pointing me to that thread, I did not see it. After I try it I'll get the thread closed

[2020-01-14 13:17] martinguerrero89 commented on #160
It did work! thanks @andrewkurzweil  !

[2020-01-14 13:17] #160 closed, assigned to nobody

[2020-01-28 14:39] helloyeops opened #167 "gpuR install error for debian 9: error: ViennaCL: FATAL ERROR: ViennaCL encountered an unknown OpenCL error."
Hi,
I've got error messages while install gpuR.

g++ -std=gnu++11 -shared -L/usr/local/lib/R/lib -L/usr/local/lib -o gpuR.so RcppExports.o chol.o context.o custom_math.o device.o gpuEigenPtr.o gpuMatrix_igemm.o norm.o platform.o set_row_order.o solve.o synchronize.o trunc_gpuMat.o utils-vcl.o utils.o vclPtr.o vienna_blas1.o vienna_blas2.o vienna_blas3.o vienna_eigen.o vienna_qr.o vienna_stats.o vi

[2020-02-15 12:16] #167 closed, assigned to nobody

[2020-02-16 18:34] TimmyAA commented on #144
This registry update fixed the gpuR installation error for me.
gpuR 2.0.3
nvidia cuda 10.2 drivers
GeForce GTX 1070 Ti

Thank you

[2020-02-26 01:29] rasutt opened #168 "OpenCL error after trouble finding libOpenCL during install"
Hi Charles,

Thank you for your package.

I'm running Ubuntu 19.10 with a GTX1070.  I've installed cuda 10.2 and the samples run fine.  The OpenCL headers also seemed to install fine.

While installing gpuR 2.0.3 from CRAN I had an error where it couldn't find libOpenCL.  I found libOpenCL.so, libOpenCL.so.1, and libOpenCL.so.1.1, in /usr/local/cuda-10.2/targets/x86_64-linux/lib, and copied them i

[2020-02-27 22:50] gabrielodom commented on #145
Similar issue here: I was able to install `gpuR` on one windows machine (windows 7) and one mac, but could not install on a second windows machine (windows 10, v1903, OS build 18362.657; NVIDIA Quadro P2000) from either CRAN or GitHub (devel version; not to nitpick, but the devtools code above is missing the repo). Messages:

 .onAttach failed in attachNamespace() for 'gpuR', details:
  call: init

[2020-03-02 18:37] nfultz opened #169 "R CMD check error on matrix initialization"
I'm doing some benchmarking on our new cluster, got a few test failures on R CMD check on vclMatrix initialization. `00check.log` is attached.

[code]

Here's our sessionInfo() also.

[code]

[00check.log](https://github.com/cdeterman/gpuR/files/4277252/00check.log)

[2020-03-05 11:36] SaraAshry commented on #156
I have the same problem

[2020-03-05 11:38] SaraAshry commented on #151
I have the same error
How u solved it?

I waste more than week and I can't solve this issue?

I appreciate your help!

[2020-03-05 11:43] SaraAshry commented on #151
** building package indices
** installing vignettes
** testing if installed package can be loaded from temporary location
*** arch - i386
Error: package or namespace load failed for 'gpuR':
 .onAttach failed in attachNamespace() for 'gpuR', details:
  call: initContexts()
  error: ViennaCL: FATAL ERROR: ViennaCL encountered an unknown OpenCL error. Most likely your OpenCL SDK or driver is not inst

[2020-03-05 23:44] iarosenco commented on #151
Uninstall both R & R-tools from the system. Do a reboot. Install both back but select ONLY 64-bit versions. Make sure the registry fix is in place (https://github.com/cdeterman/gpuR/issues/150).

Hope this helps.

[2020-03-14 15:09] fkgruber opened #170 "List of compatible GPUs?"
Hi
Is there a list of compatible GPUs?
I tried gpuR on a surface go which has an Intel HD Graphics 615 GPU and gpuR is not detecting it. And I did install openCL runtimes and was able to compile gpuR.

According to GPU Caps Viewer it has:
GPU: Kaby Lake (GT2)
1024MB VRAM
 Vulkan API 1.1.82
OpenGL 4.5 245 ext
Inter(R) HD Graphics 615
detectGPUs() does not find it

[2020-04-02 02:56] ChenYW68 opened #171 "Why does an R package based on gpuR not work?"
First of all, thank you very much for developing such a nice package "gpuR"  for everyone to use... But I am particularly confused about why the R package developed based on gpuR does not work properly. I hope to get an answer. Thank you!

[2020-04-02 22:22] cdeterman commented on #171
What package are you referring? Did you develop one or are you referring to another I have in progress?

[2020-04-03 07:31] ChenYW68 commented on #171
That's an R package (eg. CreateTemp) I developed that relies on gpuR, but once it's packaged, the following error occurs , which doesn't happen without packaging: https://chenyw68.github.io/Pollution/bug/bug.png, this is a simple illustrative example

[2020-04-03 14:06] cdeterman commented on #171
Unfortunately I can't tell you exactly as I can't read the error message (I only speak English and some French).  If you could translate I may be able to better help you.

[2020-04-03 14:08] cdeterman commented on #170
Theoretically any GPU should be supported assuming correct drivers and paths are set correctly.  Perhaps you could provide the output of the install to see how it is compiling?  Also, does it find your CPU?  Intel opencl often allows to find the CPU as well.

[2020-04-03 14:11] cdeterman commented on #169
Interesting, I'm not sure what is exactly happening.  Could you try doing any of those tests directly to see more details of an exact error?

[2020-04-03 17:09] ChenYW68 commented on #171
OK，I'm sorry. That error message is " Error in  diag(vclMatrix(A)) :  there is no method to force this S4 class to be a vector ".  The same thing happens when this diag() function is replaced by another function. Thank you！

[2020-04-13 20:00] nfultz commented on #169
Able to reproduce on one test - https://github.com/cdeterman/gpuR/blob/master/tests/testthat/test_gpuMatrix_algebra.R#L503

It crashes when run through testthat but not when run line-by-line in the console. here is the error message testthat prints:

    gpuMatrix algebraR: /home/nfultz/R/x86_64-redhat-linux-gnu-library/3.6/RViennaCL/include/viennacl/ocl/kernel.hpp:232: void viennacl::ocl::kernel:

[2020-04-14 19:08] OuNao opened #172 "No intel IGD when nvidia card installer."
Hi,
I´m trying to uso gpuR with 2 GPUs: intel integrated graphic device and a NVIDIA card, but gpuR does not recognize the intel IGD.
sessionInfo()
[code]
clinfo -l:
[code]
library(gpuR):
[code]
Regedit:
[code]

What I'm doing wrong?
Regards.

[2020-04-26 21:44] dvd280 commented on #156
Same problem here

[2020-05-01 15:18] avallark commented on #71
i get the following error. Similar to the last error of @click7254
My system specs are
[code]
error logs
[code]
Is there a reason for this?

[2020-05-09 11:53] Zerit0 commented on #144
Solved problem following dualvim instructions, in my case with nvidia Geforce GTX 1650 editing registry following path:
- HKEY_LOCAL_MACHINE\SOFTWARE\Khronos\OpenCL\Vendors

and creating a Dword32 file pointing to nvopencl64.dll file.

C:\Windows\System32\DriverStore\FileRepository\nvmdsi.inf_amd64_aed7c7eff2434932\nvopencl64.dll

![image](https://user-images.githubusercontent.com/43322562/8147305

[2020-05-09 15:04] matschmitz commented on #144
Worked for me as well! Many thanks

[code]

[2020-05-22 22:03] namanpaul commented on #145
Hi, I am encountering a similar error message while installation:
[code]

* Operating System: Windows 10, 64-bit
 * Which OpenCL implementation:  NVIDIA
 * ViennaCL version: 1.7.1

Any help would be much appreciated!

Additionally I was unable to install the git version of gpuR.
`Error in utils::download.file(url, path, method = method, quiet = quiet,  :
  cannot open URL 'https://api.github.com/r

[2020-06-05 22:57] martinguerrero89 opened #173 "R package using gpuR fails to pass R CMD check in windows"
Hi @cdeterman! Thank you very much for gpuR! I've been using it for two years and it has worked very well for me! Now we have an R package that is highly accelerated by using gpu computing (with gpuR) but it fails to pass CRAN checks due to gpuR not being supported for windows.
Please find below the issue
https://github.com/harpomaxx/galgo/issues/26

Do you know if the problem is expected to be so

[2020-06-13 01:40] acolinisi commented on #121
FWIW: I've got this error on a different unrelated ebuild inside Gentoo Prefix. The reason turned out to be a -I/usr/include on the compile line. The /usr/include is a path on the host, outside the prefix. So, the error happened as a result of mixing system headers from different libc(/gcc toolchain) versions: headers on the host with headers in the prefix. The fix was to patch the packages build

[2020-06-21 14:14] eborgnine opened #174 "rocm install"
Hi, in the wiki you have

`Sys.setenv(OPENCL_LIB="/opt/rocm/opencl/lib/x86_64",OPENCL_INC="/opt/rocm/opencl/include/")`

I don't have the x86_64 folder, I think this should be

`Sys.setenv(OPENCL_LIB="/opt/rocm/opencl/lib/", OPENCL_INC="/opt/rocm/opencl/include/")`

I'm using rocm3.5.1 and amdgpu-pro-20.20-1089974-ubuntu-18.04.tar.xz

[2020-07-04 17:20] jobdiogenes opened #175 "wich method"
In R,

we can use **which** to get filtered version of a Matrix/Vector.

Will this  work  with **vclMatrix** ?
Will return another vcl Matrix/Vector?

if not, how I can substitute to vcl enabled expression ?

[2021-01-18 20:04] waynelapierre opened #176 "Is this package still maintained?"
Is this package still maintained? What is the future plan? I am thinking about using this package for my projects.

[2021-01-18 20:46] cdeterman commented on #176
Unfortunately the maintenance is very minimal.  I cannot prioritize it over my work and personal commitments. I would love a collaborator for the package.

[2021-02-10 12:43] wdkrnls opened #177 "Does gpuR work with the new Mesa?"
Hi Linux-based gpuR users.

Has anyone tried getting gpuR installed with the new Mesa OpenCL functionality?  If so, could you post some instructions on the Wiki?

I have an AMDGPU and would really love to use gpuR but ROCm isn't available for my distro and is unlikely to be supported any time soon.

[2021-05-29 15:14] soumyaray commented on #176
Sadly, gpuR has been taken off CRAN so I take it that installing from Github is all we've got now?

[2021-05-30 04:31] soumyaray commented on #176
Last note:  I was able to install it from Github but had to first run `pkgbuild::check_build_tools(debug = TRUE)` to get the right build tools installed.

[2021-07-06 07:46] integratecology commented on #176
Can you send me an email? j dot alston at hzdr dot de. We're looking to do some GPU computing stuff and may be able to help.

[2021-12-20 02:14] Ukhupacha opened #178 "gpuR with Intel HD graphics"
Hello,

I tried to install gpuR with intel graphics and I compiled nicely using the opencl library for intel graphics.

Sadly,
When trying to use the example

A <- seq.int(from=0, to=999)
B <- seq.int(from=1000, to=1)
gpuA <- gpuVector(A)

I get the following error

Error in cpp_platformInfo(platform_idx) :
 Acquiring platform extensions failed

Any ideas on how to deal with this?

Kindly,

[2022-02-26 18:56] ArvinZaker opened #179 "The package is not computing any tasks?"
Hi,

I have attempted to replicate one of the mini-programs that you have written in [this pdf file](https://mran.microsoft.com/snapshot/2016-08-05/web/packages/gpuR/vignettes/gpuR.pdf). But the replication was not successful. This is the R terminal output:

[code]

The CRAN package was not present for this version of R so I tried this on the development branch of the package.

My computer details

[2022-03-30 07:21] humanplayer2 commented on #177
@wdkrnls, did you make any progress on getting it up and running? I am in the same situation.

[2022-04-05 01:07] wdkrnls commented on #177
Alas, I was lucky some friendly people packaged up ROCm OpenCL for my distribution.

[2022-04-05 04:33] humanplayer2 commented on #177
Thanks. I'll pursue a ROCm route, then.

[2022-05-07 22:18] tplaiho777 opened #180 "A fatal error while compiling gpuR."
Hi,
![Screenshot 2022-05-07 235236](https://user-images.githubusercontent.com/81896612/167273525-51bbecf4-107a-45bd-af95-2189fb523b0f.png)

A fatal error while compiling gpuR with Rtools 4.2 with GPU NVidia Geforce RTX 3090. I compiled the latest ViennaCL with success. OS win 11 and CUDA is the latest version. Also, my drivers are the latest studio drivers.  Please help and thank you in advance if